/*
Theme Name:  Ri Grus
Theme URI: https://rivertheme.com
Author:  River theme
Author URI: http://www.rivertheme.com/
Description: Ri Grus is a new portfolio WooCommerce WordPress theme which created for creative agency and freelancers. Graphic designers, illustrators, photographers or any kind of creative is now able to create a quick & easy portfolio to showcase their work with a distinctive and creative touch.
Tags: black, green, white, light, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready
Version: 1.1.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  ri-grus

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/**
-Theme customize
-Redux theme option
-Vafpress Post Formats UI
-Slider (WOW Slider http://wowslider.com/) (Meta Slider https://wordpress.org/plugins/ml-slider/) (revolution Slider)
-Page Builder - Layout Builder - include(widget+ shortcode) >>

*/
/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Genericons
 * 3.0 - Typography
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigations
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Header
 * 11.0 - Widgets
 * 12.0 - Content
 *    12.1 - Posts and pages
 *    12.2 - Post Formats
 *    12.3 - Comments
 * 13.0 - Footer
 * 14.0 - Media
 *    14.1 - Captions
 *    14.2 - Galleries
 * 15.0 - Media Queries
 *    15.1 - Mobile Large
 *    15.2 - Tablet Small
 *    15.3 - Tablet Large
 *    15.4 - Desktop Small
 *    15.5 - Desktop Medium
 *    15.6 - Desktop Large
 *    15.7 - Desktop X-Large
 */
/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine work of
 * Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 * along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 * and Blueprint http://www.blueprintcss.org/
 */
* {
    text-decoration: none;
    color: #777;
}


@font-face {
    font-family: 'jo_bisregular';
    src: url('jobis-regular.eot');
    src: url('jobis-regular.eot?#iefix') format('embedded-opentype'),
         url('jobis-regular.woff2') format('woff2'),
         url('jobis-regular.woff') format('woff'),
         url('jobis-regular.ttf') format('truetype'),
         url('jobis-regular.svg#jo_bisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



p {
    line-height: 24px;
    letter-spacing: 0.5px;
}

a, a:hover, a:active, a:focus {
    outline: 0 !important;
    color: #000000;
    transition: 500ms;
}
a, strong, span{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
input {
    transition: 500ms;
}

input:hover, input:active, input:focus {
    outline: 0 !important;
    transition: 500ms;
}
h1 { margin: 40px 0 20px; }
h2 { margin: 30px 0 15px; }
h3, h4, h5, h6 { margin: 20px 0 10px; }
h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}



ul, li {
    list-style: none;
    padding: 0
}

a:hover {
    text-decoration: none
}

img {
    max-width: 100%
}
/*-----------For 5 columns------------*/
.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5,
.col-xs-2-5, .col-sm-2-5, .col-md-2-5, .col-lg-2-5,
.col-xs-3-5, .col-sm-3-5, .col-md-3-5, .col-lg-3-5,
.col-xs-4-5, .col-sm-4-5, .col-md-4-5, .col-lg-4-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1-5 {
    width: 20%;
    float: left;
}
.col-xs-2-5 {
    width: 40%;
    float: left;
}

.col-xs-3-5 {
    width: 60%;
    float: left;
}

.col-xs-4-5 {
    width: 80%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
    .col-sm-2-5 {
        width: 40%;
        float: left;
    }
    .col-sm-3-5 {
        width: 60%;
        float: left;
    }
    .col-sm-4-5 {
        width: 80%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
    .col-md-2-5 {
        width: 40%;
        float: left;
    }
    .col-md-3-5 {
        width: 60%;
        float: left;
    }
    .col-md-4-5 {
        width: 80%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
    .col-lg-2-5 {
        width: 40%;
        float: left;
    }
    .col-lg-3-5 {
        width: 60%;
        float: left;
    }
    .col-lg-4-5 {
        width: 80%;
        float: left;
    }
}
/*-----------End For 5 columns------------*/
@media (min-width: 768px ) {
    #main.header-1 {
        margin-top: 80px;
    }
}

@media (max-width: 768px ) {
    #main.header-1 {
        margin-top: 70px;
        position: relative;
        z-index: 9;
    }
}

.header-page {
    padding: 10px 0;
    transition: all 1s;
}

.header-page .row {
    position: relative;
}

.fix-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 9999;
}
.relative-header{
    position: relative;
    top:0 !important;
    width: 100%;
    display: block;
    z-index: 9999;
}
.relative-header.header-page{
    padding:10px 0;
    transition: all 500ms;
}
.visible-header {
    padding: 5px 0 !important;
    background: #FFFFFF;
    z-index: 99999;
}

.visible-header #top-nav div > ul > li > a {
    padding: 10px 0;
}

.visible-header #logo {
    line-height: 20px !important;
    height: auto !important
}

.wrapper-content-head {
    display: block;
    position: relative;
}

#logo {
    height: 100%;
    box-align: center;
    -moz-box-align: center;
    height: 60px;
    line-height: 60px;
    margin: 0;
    display: inline-block;
}

#top-nav {
    text-align: right;
    display: inline-block;
    position: relative;
    margin-top: 5px;
    float: right;
}

#logo > a {
    display: block;
    line-height: 50px;
}

#searchbtnhead {
    height: 60px;
    width: 40px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 99;
    display: block;
    transition: 500ms;
}
@media(max-width: 768px){
    #searchbtnhead{
        right: 15px;
    }
}
#searchbtnhead.active{
    right: 0;
}

#searchbtnhead i {
    color: #000000;
    font-size: 20px;
}

#searchbtnhead:hover {
    cursor: pointer;
}

#topsearch-block.hidesearch #activesearch {
    display: none;
}

#topsearch-block.hidesearch {
    z-index: -1;
    background: none;
}

.showsearch {
    z-index: 9 !important;
    background: #FFFFFF !important;
}
#global-search{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
    display: block;
    z-index: -1;
    opacity: 0;
    transition:all 500ms;
    transition-delay: 500ms;
}
#global-search.active{
    opacity: 1;
    z-index: 99999;
    transition-delay: 0;
}
#global-search #searchform{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 80%;
}
#global-search #searchform .ipt{
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: none;
    font-size: 24px;
}
#global-search #searchform .ipt::-moz-placeholder { /* Firefox 19+ */
     opacity: 1;
 }
#global-search #searchform .ipt::-webkit-input-placeholder {
     opacity: 1;
 }

#global-search #searchform .ipt:-ms-input-placeholder {
     opacity: 1;
 }
#closesearch{
    width: 20px;
    height: 20px;
    position: absolute;
    top:-50px;
    right: 0;
    transition: all 500ms;
}
#closesearch:hover{
    cursor: pointer;
    transform: rotate(180deg);
}
#closesearch:before, #closesearch:after{
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    display: block;
    content: '';
    transition: all 500ms;
    transition-delay: 0ms;
    top: 50%;
}
#global-search.active #closesearch:before,#global-search.active #closesearch:after{
    transition-delay: 500ms;
}
#global-search.active #closesearch:after{
    transform: rotate(-45deg);
}#global-search.active #closesearch:before{
    transform: rotate(45deg);
}
#topsearch-block {
    width: 50px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    display: inline-block;
    float: right;
    right: 0;
    top: 0;
    overflow: hidden;
    transition: 500ms;
}

#topsearch-block form {
    height: 60px;
    line-height: 60px;
    padding: 10px 0;
    position: relative;
}

#topsearch-block.normalform:hover {
    width: 100%;
}

.normalform #activesearch {
    left: 5px;
}

#topsearch-block #activesearch {
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
}

#topsearch-block #activesearch i {
    color: #000000;
    font-size: 20px;
    z-index: 999;
    font-weight: normal;
}

#topsearch-block .ipt {
    padding-left: 50px;
    border: none;
    color: #000000;
    transition: 500ms;
    font-size: 22px;
    font-weight: 300;
}

#activesearch:hover {
    cursor: pointer;
}

#topsearch-block.normalform:hover .ipt {
    border-bottom: 1px solid #000000;
}

.hidesearch {
    width: 100% !important;
}

.hidesearch .ipt {
    padding-left: 5px !important;
}

.hidesearch #searchform {
    position: relative;
    display: block;
    padding: 0;
}

/*primary menu*/
.hidesearch .ipt {
    height: 100% !important;
    width: 100%;
}

#top-nav {
    padding-right: 120px;
}

.mobile-nav {
    display: none
}

.mobile-nav:hover {
    cursor: pointer;
}

#top-nav .nav-menu > li, #top-nav div > ul > li {
    display: inline-block;
    margin: 0 15px
}

#top-nav div > ul {
    display: inline-block;
    margin-bottom: 0
}

/*#top-nav div>ul>li:before,*/
#top-nav div > ul > li:after {
    position: absolute;
    background: #FFFFFF;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    transition: all 500ms;
    opacity: 0;
}

#top-nav div > ul > li:before {
    top: 5px;
}

#top-nav div > ul > li:after {
    bottom: 5px
}

#top-nav div > ul > li.active:before, #top-nav div > ul > li:hover:before, #top-nav div > ul > li.active:after, #top-nav div > ul > li:hover:after {
    background: #000;
    opacity: 1;
}

#top-nav div > ul > li:hover:before, #top-nav div > ul > li.active:before {
    top: 0px
}

#top-nav div > ul > li:hover:after, #top-nav div > ul > li.active:after {
    bottom: 0px
}

#top-nav div > ul > li {
    border-bottom: 1px solid transparent;
}

#top-nav div > ul > li > a {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 0;
    letter-spacing: 2px;
    display: block;
}

#top-nav a {
    color: #323232;
}

#top-nav a:hover {
    text-decoration: none;
    color: #000;
}

@media (max-width: 768px) {
    #logo, #top-nav {
        text-align: left;
        /* margin:20px 0;*/
        min-height: 50px
    }
    #logo {
        padding-top:8px!important;
        z-index: 8;
    }
    #top-nav {
        margin-top: 0 !important;
        float: right;
        padding: 5px 15px;
        text-align: right;
        z-index: 8;
    }
    #topcart{
        right: 90px;
    }
#searchbtnhead{
    right: 50px;
}
    .site-logo {
        margin: 0;
    }

    .left-header, .right-header {
        min-height: 60px
    }

    .pager {
        margin: 20px 0 30px !important
    }

    #write-comments {
        text-align: left !important;
    }

    .footer-page {
        margin-top: 0;
    }

    .header-contact {
        margin-top: 30px;

    }

    .RITSocialWidget {
        text-align: left !important;
        margin-top: 20px;
    }
}

.sub-menu li {
    width: 100%;
    position: relative;
    display: block;
    border-bottom: 1px solid #ededed;
    text-align: left;
}

.sub-menu li:last-child {
    border: none;
}

.nav-menu li {
    position: relative;
}

.sub-menu {
    min-width: 200px;
    padding: 3px;
}

@media (min-width: 768px) {
    .nav-menu > li > ul {
        top: 100%;
        left: -10px;
    }

    .nav-menu > li:hover > ul {
        opacity: 1;
        visibility: visible;
        top: 100%;
        z-index: 91;
        transform: scale(1);
    }

    .sub-menu li:hover > ul {
        opacity: 1;
        visibility: visible;
        top: 0;
        z-index: 99;
        transform: scale(1);
    }

    .sub-menu {
        position: absolute;
        padding: 0 5px;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        background: #fff;
        transform: scale(0);
        transition: 500ms;
    }

    .sub-menu li ul {
        left: 100%;
        top: 100%;
    }

    .sub-menu li:after {
        content: "";
        height: 1px;
        background: #000000;
        width: 0;
        position: absolute;
        left: 0;
        bottom: -1px;
        transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
    }

    .sub-menu .menu-item-has-children:before {
        content: "\f105";
        font-family: "FontAwesome";
        height: 20px;
        width: 10px;
        position: absolute;
        top: 10px;
        opacity: 1;
        right: 0px;
        -moz-transition: all 500ms ease-in-out;
        -webkit-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
    }

    /*.sub-menu .menu-item-has-children:hover:before{
        right: 1%;
        opacity: 1;
    }*/
    #top-nav .sub-menu li a {
        font-size: 14px;
        color: #9aa7af;
        width: 100%;
        display: block;
        padding: 10px 5px;
    }
    #top-nav .sub-menu li:hover>a,
    #top-nav  .sub-menu li a:hover {
        color: #000000 !important;
    }

    /*.sub-menu li:hover:after{
        width: 100%;
    }*/
}

/*End header css*/
/*Footer css*/
.footer-page {
    margin-top: 0;
    padding: 0
}

.footer-page .title {
    font-size: 20px;
    color: #b7b7b7;
    margin: 30px 0 15px;
    text-transform: uppercase;
    font-weight: 400;
}

#top-footer {
    text-align: left;
    color: #b7b7b7;
    padding: 0px 0 60px 0;
}

#top-footer ul {
    margin: 0;
    padding: 0
}

#top-footer li, .footer-page p {
    color: #b7b7b7;
    font-size: 13px
}

.footer-page a {
    color: #000
}

#footer-logo {
    padding: 40px 0 0 0
}

#bottom-footer {
    padding: 18px 0;
    border-top: 5px solid #f7f7f7;
}

#copyright {
    height: 50px;
    line-height: 50px;
    margin: 0;
}

.copy-right i {
    color: red;
}

@media (max-width: 768px) {
    #top-footer, #bottom-footer, #socail-footer {
        text-align: left
    }

    #top-footer p:last-child {
        margin: 0
    }

    .wrapper-related-portfolio {
        text-align: center;
    }
}

/*End footer css*/
/*News css*/
.news-item {
    display: block;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 4px solid #eaeaea
}

.wrapper-img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 9
}

.wrapper-img img {
    height: auto;
    margin:0 auto;
    display: block;
}

.wrapper-mask {
    padding: 55px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: 500ms
}

.border-mask {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6)
}

.wrapper-img:hover .wrapper-mask {
    padding: 25px;
    z-index: 10;
    transform: scale(1);
    opacity: 0.9;
    cursor: pointer;
}

.mask {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    height: 100%;
    text-align: center;
    position: relative;
    line-height: 100%;
    text-align: center
}

.readmore {
    font-size: 18px;
    color: #000;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    width: 100px;
    height: 50px
}

.readmore a {
    display: block;
    position: relative;
    width: 100%;
    line-height: 35px;
    height: 35px;
    color: #000;
    text-transform: capitalize
}

.readmore a:hover {
    text-decoration: none
}

.readmore a:before, .readmore a:after {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    height: 5px;
    background: #000;
    width: 30px;
    content: "";
    display: block
}

.readmore a:before {
    top: -5px
}

.readmore a:before {
    bottom: -5px
}

.news-info {
    padding: 25px
}

.title-news {
    margin: 0 0 5px;
}

.title-news a, .title-news {
    font-size: 18px;
    text-transform: none;
    color: #282828;
    font-weight: 400;
}

.title-news a:hover {
    color: #9eabb3;
}

.news-info {
    color: #b2b2b2
}

.info-post {
    font-size: 12px
}

.info-post a {
    color: #b2b2b2;
}

.info-post a:hover {
    color: #000;
}

.news-info .description {
    font-size: 14px;
    padding-top: 5px;
}

.pager {
    margin: 30px 0 0;
    width: 100%;
    text-align: center
}

.pager ul {
    margin: 0
}

.pager ul li, .page-numbers {
    display: inline-block;
    text-align: center;
    min-width: 35px;
    padding-left: 5px;
}

.pager ul li a, .pager ul li span, .page-numbers {
    padding: 0;
    line-height: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 0;
    border: 1px solid #dfe5e9;
}

.page-numbers {
    margin-left: -2px;
}

.pager ul li a {
    color: #acb6bc
}

.pager ul li a:hover, .pager ul li span, .page-numbers:hover, span.page-numbers, .pager ul li.active a {
    background: #000;
    color: #fff
}

.pager ul li a:hover > i, .page-numbers:hover > i {
    color: #fff;
}

.sidebar-item {
    padding: 15px 0
}

.sidebar-item:first-child {
    padding-top: 0
}

.sidebar-item .title {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}

.sidebar-item .title:after {
    background: #eaeaea;
    z-index: -1;
}

.sidebar-item .title span {
    margin: 0;
    position: relative;
    padding: 0 0 7px 0;
    font-size: 18px;
    color: #282828;
    width: auto;
    display: inline-block;
    text-transform: capitalize;
}

.content-siderbar {
    border-top: 2px solid #b2b2b2;
    padding: 30px 0 40px;
    width: 100%
}
.sidebar-item .title:after {
    height: 1px;
}
.sidebar-item .title span:after {
    width: 60px;
    position: absolute;
    background: #282828;
    height: 1px;
    content: "";
    bottom: -2px;
    left: 0
}

.widget_categories ul li, .widget_archive ul li, .widget_meta ul li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}
.widget_categories ul li a, .widget_archive ul li a, .widget_meta a {
    color: #282828;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
    display: inline-block;
}

.widget_categories .content-siderbar {
    padding-top: 20px;
}

.widget_categories ul li a:hover:before, .widget_categories ul li a:hover, .widget_categories ul li.active a, .widget_categories ul li.active a:before,
.widget_meta ul li a:hover:before, .widget_archive ul li a:hover:before, .widget_archive ul li a:hover, .widget_archive ul li.active a, .widget_archive ul li.active a:before, .current-cat a, .current-cat a:before {
    color: #9aa7af !important;
    text-decoration: none
}

.widget_meta li {
    display: inline-block
}

.tagcloud a {
    background: #e1e4e7 none repeat scroll 0 0;
    color: #697782;
    display: inline-block;
    font-size: 14px !important;
    margin-bottom: 3px;
    padding: 5px 15px;
}

.tagcloud a:hover {
    color: #fff;
    background: #000;
    text-decoration: none
}

.author-link {
    color: #b2b2b2;
    text-transform: capitalize
}

.author-link:hover {
    color: #000
}

/*End news css*/
/*News detail css*/
#news-detail .news-info,
.wrapper-contents-news {
    padding: 25px 0 !important;
    color: #b2b2b2
}

#news-detail .title-news {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

#news-detail p.info-post {
    font-size: 14px;
}

#news-detail .description {
    color: #9d9d9d;
}

#news-detail .description a {
    color: #000;
}

#news-detail .description h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
}

#news-detail .description h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}

#news-detail .description ol {
    padding: 0 23px;
}

#news-detail .description ul {
    list-style: inside none disc;
    margin: 0 0 1.5em 12px;
    padding: 0 0 0 12px;
}

#news-detail .description ol li, #news-detail .description ul li {
    letter-spacing: 1px;
    line-height: 30px;
    list-style: disc;
}

#news-detail .description p.item-link {
    margin: 25px 0;
}

#news-detail .description .quote {
    padding: 5px;
}

#news-detail .description p.italic {
    font-style: italic;
}

#news-detail .description p {
    letter-spacing: 1px;
    margin: 12px 0
}

.contents-news {
    font-size: 14px;
}

.main-content .tags-list {
    margin: 15px 0
}

.main-content .tags-list span {
    margin: 0;
    display: inline-block;
    font-size: 14px;
    color: #777;
}

.main-content .tags-list a {
    margin: 0 3px 3px 0
}

#total-comments {
    font-size: 20px;
    color: #2f383d;
    line-height: 30px;
    height: 30px
}

#write-comments {
    text-align: right
}

#write-comments a, #write-comments a i {
    color: #000;
    font-size: 13px;
    text-align: right;
    line-height: 30px;
    height: 30px
}

#write-comments a i {
    font-size: 18px
}

.list-comments {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-top: 15px;
    padding-top: 10px
}

.list-comments li {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
}

.list-comments li:first-child {
    border-top: none
}

.list-comments div.avatar {
    display: inline-block;
    width: 10%;
    float: left
}

.list-comments div.avatar img {
    height: auto;
}

.list-comments .content-comment {
    width: 90%;
    padding-left: 15px;
    float: left
}

.list-comments .info-cmmt {
    width: 100%;
    display: block;
    padding-bottom: 10px
}

.info-cmmt .username {
    font-size: 14px;
    color: #000;
    width: 39%;
    display: inline-block;
    text-transform: none;
}

.info-cmmt > p {
    display: inline-block;
    width: 60%;
    margin: 0;
    min-width: 250px;
    font-size: 12px;
    text-align: right
}

@media (max-width: 768px) and (min-width: 480px) {
    .list-comments .content-comment {
        width: 85%;
    }

    .list-comments div.avatar {
        width: 15%;
    }
}

@media (max-width: 480px) {
    .list-comments .content-comment {
        width: 80%;
    }

    .list-comments div.avatar {
        width: 20%;
    }
}

.info-cmmt > p a {
    color: #000
}

.detail-cmmt {
    font-size: 13px
}

ul.children {
    padding-left: 10%;
    border: none;
    display: inline-block;
}

ul.children > li:first-child {
    border-top: 1px solid #ebebeb;
}

#comments .pager {
    margin-top: 20px
}

.text {
    padding: 8px;
    border: 1px solid #ebebeb
}

.ipt {
    width: 100%;
    display: block;
    position: relative;
    height: 40px
}

#comment-form {
    margin-top: 30px
}

form p, .comment-form p {
    position: relative
}

form i, .comment-form i {
    top: 12px;
    right: 15px;
    position: absolute
}

.textarea {
    width: 100%
}

#comment-form .textarea {
    min-height: 140px
}

.btn {
    padding: 13px 35px
}

.btn-submit {
    color: #000;
    border: 4px solid #000;
    font-size: 14px;
    border-radius: 0;
    background: none;
    text-transform: uppercase
}

.btn-submit:hover {
    cursor: pointer;
    background: #000;
    color: #fff
}

input.text:focus, input[type=text]:focus, aside input[type=search]:focus, .input-text:focus {
    border: 4px solid #000;
}

p.form-submit {
    text-align: right;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}

.comment-respond h3 {
    font-size: 20px;
    color: #2f383d;
    padding: 10px 0;
    margin-bottom: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #ebebeb;
}

/*End news detail css*/
/*Contact css*/
#map {
    margin-bottom: 60px;
}

.wpcf7-submit {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    padding: 8px 0 !important;
    border: 4px solid #000;
    background: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}

.contact-form p .wpcf7-submit:hover {
    color: #fff;
    background: #000000;
}
form.wpcf7-form img {
    width: auto;
}
form.wpcf7-form  .ipt{
    box-shadow: 0 !important;
    border-radius: 0 !important;
}
#contact-form p {
    margin: 0 0 20px 0
}

#contact-form textarea {
    min-height: 150px
}

#contact-page h3.title {
    font-size: 18px;
    text-transform: capitalize;
    color: #2f383d;
    border: none;
    margin-bottom: 20px;
    padding: 10px 0;
}

.info-item {
    display: block;
    margin-bottom: 20px
}

.info-item .left {
    display: block;
    width: 40px;
    float: left
}
.info-item span.left{
    min-height: 70px;
    padding: 5px 10px 0 0;
}
@media(max-width: 480px){
    .info-item span.left{
        min-height: 100px;
    }
}
.info-item .left span, .info-item span.left i{
    height: 30px;
    width: 30px;
    background: #000;
    display: block;
    text-align: center;
    line-height: 20px;
    border-radius: 15px;
    padding: 5px;
    margin: 0
}

.info-item .left i {
    font-size: 18px;
    color: #fff
}

.info-item .right {
    display: block;
    max-width: 90%;
    float: left;
    min-width: 200px
}

.info-item h3 {
    margin-top: 0;
    color: #2f383d;
    font-size: 16px
}

.info-item p {
    color: #99abb7;
    font-size: 13px
}

.info-item {
    display: inline-block
}

.header-contact {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
    font-weight: 300;
}

.header-contact p {
    color: #282828;
    font-size: 20px;
    text-align: center;
}

/*End contact*/
/*home css*/
.item-home .text-content {
    width: 360px;
    min-height: 360px;
    padding: 40px;
    line-height: 30px;
    font-size: 20px;
    max-width: 100%
}

#wrapper-item-home {
    margin: 0 -15px
}

.item-home {
    float: left;
    max-width: 100% !important;
    padding: 15px
}

.text-content .btn-home {
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 0
}

.btn-black {
    border: 3px solid #000;
    color: #000;
}

.btn-black:hover {
    background: #000;
    color: #fff
}

.item-home:nth-child(1) .mask {
    background: rgba(138, 213, 233, 0.8)
}

.item-home:nth-child(1) .border-mask {
    border-color: #93d7e9
}

.item-home:nth-child(1) .readmore a::before, .item-home:nth-child(1) .readmore a::after, .item-home:nth-child(5) .readmore a::before, .item-home:nth-child(5) .readmore a::after {
    background: #fff
}

.item-home:nth-child(1) a, .item-home:nth-child(5) a {
    color: #fff
}

.item-home:nth-child(3) .mask {
    background: rgba(224, 226, 224, 0.8)
}

.item-home:nth-child(3) .border-mask {
    border-color: #e0e2e0
}

.item-home:nth-child(5) .mask {
    background: rgba(236, 203, 84, 0.8)
}

.item-home:nth-child(5) .border-mask {
    border-color: #eccb54
}

.no-content h3.title {
    color: #000000;
    font-size: 18px;
}

#search-block {
    padding: 20px 0
}

#search-block .ipt {
    display: inline;
    max-width: 300px;
    margin-right: 10px;
}

#search-block .btn-search {
    padding: 8px 20px;
    height: 40px;
    border: 1px solid #000000;
    text-transform: uppercase;
    font-size: 13px;
    color: #000000;
    background: none;
    border-radius: 0;
}

#search-block .btn-search:hover {
    background: #000000;
    color: #fff;;
}

#search-block form p {
    line-height: 40px;
    display: inline-block;
    width: 100%;
}

#search-block form p label, #search-block form p input {
    float: left;
}

.lb-search {
    color: #000000;
    font-size: 14px;
    padding-right: 10px;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignleft {
    float: left;
    display: block;
}

.alignright {
    float: right;
    display: block;
}

.navmobile {
    display: none;
    transition: 500ms;
}
#logo img{
    transition: 500ms;
}
.visible-header #logo img {
    height: 40px;
    margin-top: 5px;
}
.site-logo{
    display: inline-block;
    margin: 0;
    height: 100%;
}

/*Mobile top nav*/
.global-wrapper {
    overflow: hidden;
}

#top-nav .menu-topnav-container {
    display: none;
}

body > .menu-topnav-container {
    width: 0;
}

.navmobile.active {
    width: 250px;
    position: fixed;
    z-index: 9999999;
}

.wrapper-page.active {
    transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
}

.navmobile {
    width: 0;
    background: #1f1f1f;
    display: block;
    height: 100%;
    margin: 0 !important;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.navmobile > ul {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
    margin: 0;
    padding: 0;
    width: 250px;
}

.navmobile li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
    display: block;
    position: relative;
    border-bottom: none;
}

.navmobile .nav-menu > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.navmobile li a {
    color: #939393;
    padding: 8px 40px 8px 15px;
    text-transform: capitalize;
    display: block;
}

.navmobile li a:hover {
    color: #fff;
}

.navmobile .nav-menu > .menu-item-has-children > ul > li > a {
    padding-left: 30px;
}

.navmobile .nav-menu > .menu-item-has-children > ul > li > ul > li > a {
    padding-left: 45px;
}

.control-mobile-nav {
    display: block;
    height: 40px;
    width: 250px;
    background: #1F1F1F;
}

.control-mobile-nav span i {
    color: #FFFFFF;
}

.control-mobile-nav:hover {
    cursor: pointer;
}

.nav-menu .triggersubnav {
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 300ms;
}

.nav-menu .triggersubnav i {
    color: #939393;
    transition: 300ms;
}

.nav-menu .triggersubnav:hover i, .nav-menu .triggersubnav.active i {
    transform: rotate(90deg);
    color: #fff;
}

.nav-menu .triggersubnav.active:hover i {
    transform: rotate(0deg);
}

.triggersubnav:hover {
    cursor: pointer;
}

.navmobile .sub-menu {
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: 500ms;
    border: none;
}
.enable-canvas .navmobile  .sub-menu li:before{
    display: none;
}
.enable-canvas .navmobile .sub-menu{
    transform: scale(1);
    position: relative;
    visibility: visible;
    opacity: 1;
    left: 0;
    top: 0;
    background: none;
}
.enable-canvas .navmobile .sub-menu a{color: #939393}
.enable-canvas .sub-menu li a:hover{
    color: #fff !important;
}
.wrapper-page {
    display: block;
    transition: 500ms;
}

@media (max-width: 768px) {
    #top-nav .wrapper-top-nav {
        display: none;
    }
    .visible-header #logo img{
        margin: 0;
    }

    .widget_categories .content-siderbar {
        padding-top: 10px;
    }

    .wrapper-mask {
        padding: 40px !important;
    }

    .wrapper-img:hover .wrapper-mask {
        padding: 10px !important;
    }

    .header-page {
        padding: 5px 0
    }
.forcefullwidth_wrapper_tp_banner{
    margin-top: 70px !important;
}
    .left-header {
        float: left;
    }

    .right-header {
        float: right;
    }

    #top-nav li {
        display: block;
    }

    /* .sub-menu .menu-item-has-children li:before {
         position: absolute;
         width: 30px;
         height: 30px;
         left: 20px;
         color: #565656;
         content: '\f105';
         text-align: center;
         line-height: 30px;
         font-family: FontAwesome;
     }
 */
    #topsearch-block .ipt:focus {
        outline: 0;
    }

    .main-content {
        margin-top: 20px
    }

    .news-item {
        padding-bottom: 0;
    }

    .content-siderbar {
        padding: 10px 0 20px
    }

    .comment-respond {
        margin-bottom: 20px;
    }

    .info-cmmt > p {
        text-align: left;
    }

    #comment {
        margin-top: 10px
    }
}

.slickr-flickr-gallery {
    padding: 0 !important;
}

.slickr-flickr-gallery li {
    width: 83px;
    overflow: hidden;
    padding: 0 !important;
    margin: 2px !important;
}

.slickr-flickr-gallery li:nth-child(3n) {
    margin-right: 0 !important;
}

.slickr-flickr-gallery li a img {
    border: none !important;
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
}

.slickr-flickr-gallery li:hover a img {
    transform: scale(1.2);
}

#search-page .title {
    color: #000000;
}

#search-page .news-info {
    padding: 25px 0 0 !important;
}

#search-page .news-item {
    padding-bottom: 20px;
}

/*End home css*/
#back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 3px solid #eaeaea;
    opacity: 0;
    z-index: -1;
    background: #fff;
    transition: 300ms;
}

#back-to-top.show {
    opacity: 1;
    z-index: 999999;
}

#back-to-top i {
    color: #b7b7b7;
    transition: 300ms;
}

#back-to-top:hover {
    cursor: pointer;
    border-color: #333;
}

#back-to-top:hover i {
    color: #333;
}

/*Css for slider*/
.da-img {
    background-position: center top !important;
}

.da-arrows span:after {

}

.da-arrows span::after {
    display: none;
}

.da-arrows span {
    background: none !important;
    box-shadow: none !important;
    height: 40px !important;
    width: 40px !important;
    text-align: center;
    line-height: 34px;
    border: 3px solid #eaeaea;
    border-radius: 0 !important;
}

.da-arrows span:hover {
    border-color: #333;
}

.da-arrows span i {
    color: #eaeaea;
    font-size: 32px;
}

.da-arrows span:hover i {
    color: #333;
}

.da-dots span {
    background: none !important;
    width: 15px !important;
    height: 15px !important;
    display: block;
    border: none !important;
/ / opacity : 0;
    box-shadow: none !important;
}

.da-dots span::after {
    background: #fff !important;
    width: 10px !important;
    height: 10px !important;
    opacity: 1;
    content: ' ';
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
}

.da-dots span.da-dots-current, .da-dots span:hover {
    border: 3px solid #fff !important;
    opacity: 1;
    background: none !important;
}

.da-dots span:hover {
    transition: 100ms;
}

.da-dots span:hover:after {
    opacity: 0;
}

.da-dots span.da-dots-current:after {
    opacity: 0;
}

/*.vc_row {
    margin: 0 !important;
}

/*Css for single post*/
.post-author {
    padding: 40px 0px;
    border-bottom: 1px solid #e4ebed;
    border-top: 1px solid #e4ebed;
    margin-top: 20px;
}

.author-content h3.title {
    padding-right: 30px;
    margin: 0 0 5px;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    color: #000;
    padding: 0 0 5px
}

.single-post .news-info {
    padding: 25px 0
}

.single-post .post-info {
    margin-bottom: 15px;
}

.single-post b {
    color: #666666
}

.single-post .description p {
    margin-bottom: 25px;
}

.single-post .description h1, .single-post .description h3, .single-post .description h4, .single-post .description h5, .single-post .description h6, .wpb_text_column.wpb_content_element [att^=h] {
    line-height: 24px;
}

.single-post .description h1, .wpb_text_column.wpb_content_element h1 {
    font-size: 24px;
}

.single-post .description h2, .wpb_text_column.wpb_content_element h2 {
    font-size: 20px;
    color: #000;
}

.single-post .description h3, .wpb_text_column.wpb_content_element h3 {
    font-size: 18px;
}

.single-post .description h4, .wpb_text_column.wpb_content_element h4 {
    font-size: 16px;
}

.single-post .description h5, .wpb_text_column.wpb_content_element h5 {
    font-size: 14px;
}

.single-post .description h6, .wpb_text_column.wpb_content_element h6 {
    font-size: 12px;
}

.single-post .description ul, .single-post .description ol, .wpb_text_column.wpb_content_element ul, .wpb_text_column.wpb_content_element ol {
    padding: 10px 0 0 0
}

.single-post .description li, .wpb_text_column.wpb_content_element li {
    padding-bottom: 10px;
}
.single-post .description li:last-child, .wpb_text_column.wpb_content_element li:last-child{
    padding-bottom: 0 !important;
}
.single-post .description ol li, .wpb_text_column.wpb_content_element ol li {
    list-style: decimal;
    margin-left: 20px;
}
.single-post .description ol li:last-child, .wpb_text_column.wpb_content_element ol li:last-child{
    padding-bottom: 0;
}
.single-post .description ul li, .wpb_text_column.wpb_content_element ul li {
    list-style: square;
    margin-left: 20px;
}

.single-post .description ul.checklist li, .wpb_text_column.wpb_content_element ul.checklist li {
    position: relative;
    padding-left: 25px;
    list-style: none;
    margin: 0;
}

.single-post .description ul.checklist li:after, .wpb_text_column.wpb_content_element ul.checklist li:after {
    font-family: FontAwesome;
    color: #777;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    text-align: center;
    line-height: 24px;
    height: 24px;
    content: "\f00c";
}

.quote, blockquote {
    border-left: 5px solid #e1e1e1;
    color: #666;
    font-size: 16px;
    font-style: italic;
    margin: 40px 30px;
    padding: 20px;
    background: #fafafa;
}

blockquote p:first-child {
    font-weight: 400 !important;
}

blockquote p {
    margin-bottom: 20px;
}

blockquote p:last-child {
    margin-bottom: 0 !important;
}

.author-img {
    max-width: 145px;
}

.author-img .avatar {
    height: auto;
    width: 100%;
}

.children .avatar img {
    max-width: 50px;
}

.children .content-comment {
    padding-left: 0;
}

.author-socail {
    margin-top: 0px;
    display: block;
    width: 100%;
}

.author-socail .author-social-item {
    height: 30px;
    line-height: 40px;
    margin-right: 10px;
    display: inline-block;
}

.author-socail .author-social-item i {
    font-size: 14px;
    color: #bbb;
}

.author-socail .author-social-item:hover i {
    color: #959595;
}

@media (max-width: 480px) {
    .author-socail .author-social-item {
        margin-bottom: 3px;
    }
}

.post-related {
    padding: 30px 0
}

.post-related .post-box-title {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    padding: 10px 0;
    margin-top: 0px;
    font-weight: 400 !important;
}

.item-related h3 {
    margin: 20px 0 10px
}

.item-related h3 a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.item-related h3 a:hover {
    color: #333;
}

.item-related span {
    font-size: 14px;
}

.item-related img {
    height: auto;
    width: 100%;
}

@media (max-width: 480px) {
    .item-related {
        margin-bottom: 20px;
    }
}

.widget_search .search-field {
    width: 100%;
    padding: 10px 8px;
    border: 1px solid #eaeaea;
    color: #333;
}

.widget_search .search-form {
    position: relative;
    width: 100%;
    display: block;
}

.widget_search .btn-search, .widget_search .search-submit {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 40px;
}

.widget_search .btn-search:hover {
    color: #333;
}

.search-submit {
    border: none;
    background: none;
}

.eps-slide {
    margin-bottom: 50px;
}

.rit-wrapper-mask .rit-title {
    margin-top: -30px;
    font-weight: normal;
}

.rit-cat {
    font-weight: normal;
    font-size: 16px;
}

#bottom-footer .RITSocialWidget {
    text-align: right;
}

.RITSocialWidget, #bottom-footer .rit-socail-page {
    text-align: right;
    margin: 0
}

.RITSocialWidget a, .rit-socail-page .socail-item {
    display: inline-block;
    margin: 3px;
    border: 5px solid #f7f7f7;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center
}

.RITSocialWidget a:first-child, .rit-socail-page .socail-item:first-child {
    margin-right: 0
}

.RITSocialWidget a i, .rit-socail-page .socail-item i {
    color: #000
}

.RITSocialWidget a:hover, .rit-socail-page .socail-item:hover {
    border: 5px solid #000 !important;
}

.RITSocialWidget a:after, .rit-socail-page .socail-item:after {
    display: none;
}

/*Breadcrumb css*/
.wrapper-breadcrumb {
    background: #F5F5F5;
    display: block;
    margin-bottom: 30px;
}

ul.breadcrumbs {
    display: inline-block;
    width: 100%;
    margin: 0;
}

ul.breadcrumbs li {
    display: inline-block;
    padding: 10px 0 !important;
}

ul.breadcrumbs li span {
    padding: 0 5px;

}

ul.breadcrumbs li strong {
    color: #3f3f3f;
    font-weight: normal;
}

ul.breadcrumbs li a {
    color: #b2b2b2;
}

ul.breadcrumbs li a:hover {
    color: #323232;
}

.copy-right {
    padding: 15px 0
}

/*End breadcrumb css*/
/*rit search form*/
#rit_searchform {
    margin-top: 10px;
}

#rit_searchform .text {
    max-width: 350px;
    display: block;
}

#rit_searchform .btn-submit {
    padding: 8px 30px;
    margin-left: 5px;
    height:40px
}

/*end rit search form*/
/*Search page*/
.search-result-page .page-content > p {
    display: inline-block;
}

/*End search page*/
.page-header {
    margin: 0px 0 20px
}

.page-title {
    font-size: 28px;
    margin: 0;
}

.wpcf7-submit:hover {
    background: #000;
    color: #FFFFFF;
}

/*Recent post widget css*/
.rit_rpw {
    display: block;
}

.rit_rpw li {
    display: inline-block;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    padding: 5px 0 10px
}

.rit_rpw_img {
    width: 25%;
    display: block;
    float: left;
}

.rit_rpw_img img {
    width: 100%;
    height: auto;
}

.rit_rpw_info {
    width: 75%;
    padding-left: 5px;
    float: left;
}

.rit_rpw_title {
    margin: 0;
}

.rit_rpw_title a {
    color: #282828;
    font-weight: 400;
    font-size: 14px;
}

.rit_rpw_title:hover a {
    color: #9aa7af;
}

.rit_rpw_info span {
    font-size: 12px;
    font-style: italic;
}

/*End recent post widget*/
@media (max-width: 480px) {
    #sidebar-right {
        margin-top: 30px;
    }

    #sidebar-left {
        margin-bottom: 30px;
    }
}

#rit-masonry-filter li {
    display: inline-block !important;
}

/*fix css home*/
.rit-item-masonry:nth-child(2) .rit-wrapper-mask {
    background: rgba(0, 0, 0, 0.6);
}

.rit-item-masonry:nth-child(2) .rit-wrapper-mask h3, .rit-item-masonry:nth-child(2) .rit-wrapper-mask h4,
.rit-item-masonry:nth-child(2) .rit-wrapper-mask a, .rit-item-masonry:nth-child(4) .rit-wrapper-mask h3,
.rit-item-masonry:nth-child(4) .rit-wrapper-mask h4, .rit-item-masonry:nth-child(4) .rit-wrapper-mask a {
    color: #fff;
}

.rit-item-masonry:nth-child(1) .rit-wrapper-mask {
    background: rgba(70, 213, 234, 0.4)
}

.rit-item-masonry:nth-child(4) .rit-wrapper-mask {
    background: rgba(247, 80, 90, 0.6)
}

.rit-item-masonry:nth-child(5) .rit-wrapper-mask {
    background: rgba(144, 212, 113, 0.6)
}

.rit-item-masonry:nth-child(5) .rit-wrapper-mask h3, .rit-item-masonry:nth-child(5) .rit-wrapper-mask h4,
.rit-item-masonry:nth-child(5) .rit-wrapper-mask a {
    color: #000;
}

.rit-item-masonry:nth-child(6) .rit-wrapper-mask {
    background: rgba(26, 127, 127, 0.6)
}

.rit-item-masonry:nth-child(6) .rit-wrapper-mask h3, .rit-item-masonry:nth-child(6) .rit-wrapper-mask h4,
.rit-item-masonry:nth-child(6) .rit-wrapper-mask a, .rit-item-masonry:nth-child(8) .rit-wrapper-mask h3, .rit-item-masonry:nth-child(8) .rit-wrapper-mask h4,
.rit-item-masonry:nth-child(8) .rit-wrapper-mask a, .rit-item-masonry:nth-child(7) .rit-wrapper-mask h3, .rit-item-masonry:nth-child(7) .rit-wrapper-mask h4,
.rit-item-masonry:nth-child(7) .rit-wrapper-mask a {
    color: #fff;
}

.rit-item-masonry:nth-child(7) .rit-wrapper-mask a:after, .rit-item-masonry:nth-child(6) .rit-wrapper-mask a:after,
.rit-item-masonry:nth-child(8) .rit-wrapper-mask a:after, .rit-item-masonry:nth-child(2) .rit-wrapper-mask a:after,
.rit-item-masonry:nth-child(4) .rit-wrapper-mask a:after {
    background: #fff !important;
}

.rit-item-masonry:nth-child(8) .rit-wrapper-mask {
    background: rgba(173, 105, 173, 0.5)
}

.rit-item-masonry:nth-child(7) .rit-wrapper-mask {
    background: rgba(3, 3, 3, 0.5);
}

.rit-wrapper-mask a:hover {
    text-decoration: none !important;
}

*:focus {
    outline: 0;
}

#rit-masonry-filter li {
    border: none;
    position: relative;
    padding: 8px 10px
}

#rit-masonry-filter li:hover {
    background: none;
}

#rit-masonry-filter li:after {
    content: '/';
    position: absolute;
    right: -5px;
    top: 8px;
    display: block;
}

#rit-masonry-filter li:last-child:after {
    display: none;
}

#rit-masonry-filter li.active, #rit-masonry-filter li:hover {
    background: none !important;
    color: #333
}

#rit-masonry-filter li span {
    color: #000;
    position: relative;
    letter-spacing: 2px;
}

#rit-masonry-filter li span:after, .rit-item-masonry a:after, a:after {
    position: absolute;
    height: 2px;
    width: 0;
    left: 50%;
    background: #000;
    display: block;
    bottom: -5px;
    content: '';
    transition: all 500ms;
}

#rit-masonry-filter li:hover span:after, #rit-masonry-filter li.active span:after, .rit-item-masonry a:hover:after, .footer-page a:hover:after, .single-post a:hover:after, .back-home a:hover:after {
    width: 100%;
    left: 0;
}

.da-slider {
    box-shadow: none !important;
}

a {
    position: relative;
}

#footer-logo a:hover {
    border-bottom: none;
}

#footer-logo a:after {
    display: none;
}

#label-search {
    color: #666;
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
    left: 5px;
    position: absolute;
    top: 0;
    display: none;
    opacity: 0;
}

.showsearch #label-search {
    display: block;
    opacity: 1;
}

.wrapper-img > a:after {
    display: none;
}

#logo a:after, .author-socail a:after, .item-related > a:after {
    display: none;
}

#control-portfolio {
    text-align: center;
    margin-bottom: 40px;
}

.ct-port a {
    display: inline-block;
    padding: 10px;
    height: 35px;
    width: 35px;
    border: 2px solid #464646;
    position: relative;
}

.ct-port .arrow {
    background: url("./images/arrow.png") top left no-repeat;
    height: 10px;
    width: 45px;
    display: block;
    position: absolute;
    top: 10px;
    transition: all 250ms;
}

.ct-port {
    display: inline-block;
    padding: 5px 0px;
    width: 100px;
    height: 45px;
    transition: all 250ms;
}

.prev-portfolio {
    text-align: left;
    padding-right: 15px;
}

.prev-portfolio .arrow {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.next-portfolio {
    text-align: right;
    padding-left: 15px;
}

.next-portfolio .arrow {
    right: 10px;
}

.next-portfolio:hover span.arrow {
    transform: translateX(8px);
}

.prev-portfolio:hover span.arrow {
    transform: rotate(180deg) translateX(8px);
}

@media (max-width: 768px) {
    #control-portfolio > div {
        text-align: center;
    }
}

.ct-port i {
    color: #000;
    font-size: 12px;
}

.next-portfolio i {
    padding-left: 5px;
}

.next-portfolio a {
    text-align: right;
}

.prev-portfolio i {
    padding-right: 5px;
}

.prev-portfolio a {
    text-align: left;
}

.back-to-home {
    display: inline-block;
    padding: 5px
}

.back-to-home span {
    background: url('./images/back-main.png') top left no-repeat;
    width: 32px;
    height: 32px;
    display: block;
}

.back-to-home:hover span {
    background-image: url("./images/back-main-hover.png");
}

#control-portfolio .back-to-home:hover i {
    color: #000;
}

#control-portfolio .back-to-home a {
    position: relative;
    display: block;
    padding: 0;
    border: none;
}

.wrapper-related-portfolio {
    padding: 25px 0
}

.wrapper-related-portfolio .title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wrapper-related-portfolio ul {
    padding-top: 30px;
}

.wrapper-related-portfolio .title-news a {
    font-size: 16px;
    font-weight: 400;
}

.wrapper-related-portfolio figcaption {
    padding: 30px 0
}

.single-postfolio img {
    max-width: 100%;
    height: auto !important
}

.single-postfolio .description .col-xs-12 > p {
    padding: 10px 0
}

/*end fix css home*/
.item-related > a {
    display: block;
    width: 100%;
}

.rit-masonry-mask > a {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.rit-masonry-mask > a:after {
    display: none
}

.rit-title, .rit-cat {
    z-index: 999;
}

.share-links {
    display: block;
    width: 100%;
    text-align: right;
}

.share-text {
    display: inline-block;
    font-size: 18px;
    color: #000;
    margin: 0;
}

.share-links .social-icons {
    display: inline-block;
    margin: 0;
    text-align: right;
}

.share-links .social-icons li {
    display: inline-block;
    margin: 3px;
}

.share-links .social-icons li a {
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    font-size: 14px;
    color: #000;
}

.share-links .social-icons li a:hover {
    background: #000;
}

.share-links .social-icons li a:after {
    display: none;
}

.share-links .social-icons li a i {
    color: #000;
}

.share-links .social-icons li a:hover i {
    color: #fff;
}

/*Customizer css for core*/
.rit-news-item .rit-news-info {
    padding: 25px !important;
}

.rit-news-info .info-post {
    font-weight: bold;
    margin-bottom: 10px;
}

.rit-news-item {
    margin-bottom: 35px;
}

.single-post .title-news {
    font-size: 24px;
    letter-spacing: 2px;
}

.single-post .info-post {
    font-size: 13px;
}

.single-post .description {
    padding-top: 30px;
}

.single-post .tags-list a {
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
}

.single-post .tags-list a:after {
    transition: all 500ms;
}

.single-post .tags-list a:hover:after {
    display: block;
}

.single-post .tags-list a:hover {
    background: none;
    color: #000;
}

.single-post {
    border-bottom: none;
    margin-bottom: 0;
}

.content-comment p {
    line-height: 24px;
}

.content-comment p:last-child {
    margin: 0 !important;
}

.dropcap {
    float: left;
    font-size: 60px;
    line-height: 40px;
    color: #000;
    padding: 15px 10px 20px 0px;
}

.author-content p {
    line-height: 24px;
}

/*Custom css detail portfolio*/
.des-portfolio{
    padding:10px 0
}
.des-portfolio li {
    display: inline-block;
    width: 100%;
    line-height: 24px;
    padding: 8px 0;
}

.des-portfolio li span {
    color: #000;
    font-weight: bold;
    min-width: 160px;
    display: inline-block;
}

.single-postfolio p {
    line-height: 24px;
}

.single-postfolio .socail a {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-right: 8px;
    background: #b7b7b7;
    display: inline-block;
    line-height: 20px;
}

.single-postfolio .socail a:hover {
    background: #000;
    cursor: pointer;
}

.single-postfolio .socail a:hover:after {
    display: none;
}

.single-postfolio .socail i {
    color: #fff;
}

.single-postfolio {
    border-bottom: none;
}

.single-postfolio .news-info {
    padding: 0
}

.des-portfolio a:hover:after {
    display: block;
    left: 0;
    width: 100%;
}

.des-portfolio a {
    color: #777 !important;
}

.breadcrumb-trail {
    padding: 10px 0
}

.trail-browse {
    display: none !important;
}

.trail-end span {
    color: #000 !important;
}

.trail-item a:hover > span {
    color: #000 !important;
}
#main > .page-title {
    display: none;
}

.breadcrumbs a {
    color: #777;
}

.breadcrumbs a:hover {
    color: #000;
}

.sep {
    padding: 0 3px
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;
}
.textwidget{
    transition: 300ms;
}
.textwidget.unvisible {
    height: 0 !important;
    display: block !important;
    overflow: hidden;
}

@media (min-width: 768px) {
    #top-footer .triggersubnav {
        display: none;
    }

    .related-portfolio-item img {
        width: 100%;
    }
}
@media (max-width: 768px) and (min-width: 480px){
    #top-footer .col-xs-12{
        width: 50%;
    }
}
    @media (max-width: 768px) {
    .wrapper-related-portfolio figcaption {
        padding-top: 10px;
    }

    .related-portfolio-item {
        margin-bottom: 10px;
    }
}

.da-slide div.da-slide-content {
    height: auto !important;
}

.single-post .sub-menu {
    margin: 0 !important;
}

.single-post .nav-menu a:hover:after {
    display: none;
}

.single-post #primary-menu {
    margin: 0 !important;
}

.single-portfolio #main {
    padding-top: 30px;
}

@media (max-width: 768px) {
    .single-portfolio #main {
        padding-top: 20px;
    }
}

.search-result-page .page-header .page-title {
    color: #000;
}

.archive-page .post-item, .category .post-item {
    border-bottom: 4px solid #eaeaea;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

.sticky {
}

.widget-area a:after, .breadcrumbs a:after, .quicklinks a:after, .pager a:after {
    display: none;
}

.comment-reply-link {
    padding-right: 8px;
    position: relative;
}

.comment-reply-link:before {
    width: 5px;
    text-align: center;
    content: '/';
    position: absolute;
    right: 0;
    top: -3px;
}

.rit-grid-layout .rit-news-item {
    border-bottom: none;
    margin-bottom: 0;
}

#portfolio-timeline-layout {
    margin-top: 80px;
}

.timeline-date h3 {
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.rit-timeline-layout {
    padding: 50px 0 !important;
    margin: 0 !important;
}
.rit-timeline-layout .rit-item-masonry{
    width: 100%;
}
.rit-blog-timeline-layout::after, .rit-timeline-layout::after {
    top: -10px;
}

.rit-blog-timeline-layout::after, .rit-timeline-layout::after {
    background: -moz-linear-gradient(top, #FFFFFF, #ccc 5%, #333, #ccc 95%, #FFFFFF);
    background: -o-linear-gradient(top, #FFFFFF, #ccc 5%, #333, #ccc 95%, #FFFFFF);
    background: -webkit-linear-gradient(top, #FFFFFF, #ccc 5%, #333, #ccc 95%, #FFFFFF);
    width: 1px;
}

.rit-medium-layout .rit-news-info {
    padding: 0 !important;
}

.rit-medium-layout .rit-news-item {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    padding-bottom: 10px;
}

/*Css for portfolio page template*/
.breadcrumb-portfolio-page {
    padding: 15px 0
}

.breadcrumb-portfolio-page h3.page-title {
    line-height: 40px;
    font-weight: normal;
    font-size: 18px !important;
    text-transform: uppercase;
}

.rit-medium-layout .rit-item-masonry .readmore a:before, .rit-medium-layout .rit-item-masonry .readmore a:after {
    opacity: 0;
}

.rit-medium-layout .rit-item-masonry .readmore a {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 10px;
    transition: all 1000ms;
    display: inline;
    padding: 0 5px;
    line-height: 50px;
}

.rit-medium-layout .rit-item-masonry:hover .readmore a {
    letter-spacing: 1px;
}

.rit-medium-layout .rit-item-masonry .readmore a:hover:after {
    opacity: 1;
    width: 100%;
    left: 15px !important;
}

.rit-medium-layout .rit-item-masonry .readmore {
    width: 100%;
    text-align: center;
    left: 0;
    margin-left: 0;
}

.rit-blog-timeline-layout, .rit-timeline-layout {
    position: relative;

}

.rit-timeline-layout .timeline-box {
    border-bottom: none;
    position: relative;
    padding-bottom: 0;
}

.timeline-box.left {
    margin-bottom: 50px !important;
}

.timeline-box.left:after, .timeline-box.right:after {
    border-radius: 50%;
    content: "\f192";
    font-family: FontAwesome;
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
    z-index: 999;
    top: 50%;
    font-size: 22px;
    color: #ccc;
    background: #fff;
}

.timeline-box.left:after {
    right: 0;
    margin: -10px -10px 0 0;
}

.timeline-box.right:after {
    left: 0;
    margin: -10px 0 0 -10px;
}

.rit-blog-timeline-layout .right, .rit-timeline-layout .right {
    margin: 50px 0 10px !important;
}

.timeline-box:before {
    width: 30px;
    z-index: 9;
    height: 1px;
    background: #ccc;
    display: block;
    top: 50%;
    position: absolute;
    content: '';
}

.timeline-box.left:before {
    right: 0;
}

.timeline-box.right:before {
    left: 0;
}

@media (max-width: 768px) {
    .timeline-box, .timeline-box.left, .timeline-box.right {
        margin: 20px 0 30px !important;
        z-index: 999;
        background: none !important;
    }

    .timeline-box:before {
        display: none;
    }

    .timeline-box:after {
        top: -30px !important;
        left: 50% !important;
        margin: 0px 0 0 -10px !important;
    }
}

.rit-news-item {
    border-bottom: 4px solid #f7f7f7;
}

.rit-medium-layout a:hover:after {
    display: none;
}

#top-footer h3.title {
    border: none !important;
}

.wpcf7-form input:focus {
    border: 4px solid #000
}


.tp-bullets.simplebullets.round .bullet {
    transition: 0ms;
}

.header-contact a {
    border-bottom: 1px solid #ccc;
    color: #000;
    font-weight: 400;
}
.header-contact a:hover {
    border-color: #000;
}

.contact-main h3.title {
    border-bottom: 2px solid #ccc;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    padding: 8px 0;
    font-weight: 400;
}

.contact-main h3.title:after {
    content: '';
    width: 60px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
}

.about-3 b {
    color: #000;
}

@media (max-width: 480px) {
    .wrapper-breadcrumb .col-xs-12 {
        text-align: center !important;
    }
}

@media (max-width: 480px) {
    .shop_table .product-price {
        display: none;
    }

    .shop_table td, .shop_table th {
        padding: 8px 3px !important;
    }

    .shop_table .actions td {
        text-align: center;
    }

    .woocommerce-cart input, .woocommerce-cart .shipping-calculator-button, .woocommerce-cart .checkout-button {
        width: 100% !important;
        margin: 5px 0 !important;
        text-align: center !important;
    }
}

.tp-bullets.custom {
    display: block;
}

.tp-bullets.custom .tp-bullet {
    width: 8px !important;
    height: 8px !important;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 3px;
    background: #fff;
    transition: 300ms;
}

.tp-bullets.custom .tp-bullet.selected, .tp-bullets.custom .tp-bullet:hover {
    background: none !important;
    cursor: pointer;
}

.tp-bullets.custom .tp-bullet.selected:after, .tp-bullets.custom .tp-bullet:hover:after {
    display: none;
}

.tparrows.custom {
    background: none;
    border: 3px solid #fdfdfd;
    height: 50px !important;
    width: 50px !important;
    transition: 500ms;
}

.tparrows.custom:hover:after {
    color: #000;
}

.tparrows.custom:hover {
    border-color: #000;
    background: #000 !important;
}
.custom.tparrows{
    background: none !important;
}
.tparrows.custom:before{
    color: #fdfdfd !important;
    font-weight: bold;
    font-size: 22px !important;
    line-height: 45px !important;
}
.tparrows.custom:hover:before{
    color: #fff !important;
}
/*Css for mobilenav button*/
.mobile-nav {
    width: 25px;
    height: 40px;
    display: none;
    padding-top: 5px;
    transition: 300ms;
}

@media (max-width: 768px) {
    .mobile-nav {
        display: inline-block;
    }
}
.enable-canvas .mobile-nav{
    display: block;
    float: right;
}
.enable-canvas #searchbtnhead {
    right: 50px;
}
.enable-canvas #topcart{
    right:90px
}
.enable-canvas #top-nav {
    margin-top: 0 !important;
    float: right;
    padding: 5px 15px;
    text-align: right;
    z-index: 8;
}
.enable-canvas  #top-nav .wrapper-top-nav{
    visibility: hidden;
}
.mobile-nav span {
    width: 100% !important;
    height: 2px;
    background: #000;
    display: block;
    position: relative;
    margin: 13px 0
}

.mobile-nav span:before, .mobile-nav span:after {
    content: '';
    background: #000;
    width: 100%;
    height: 2px;
    display: block;
    left: 0;
    position: absolute;
    transition: 300ms;
}

.mobile-nav span:before {
    top: -10px;
}

.mobile-nav span:after {
    bottom: -10px;
}

.mobile-nav:hover span:before, .mobile-nav:target span:before, .mobile-nav.active span:before {
    transform: rotate(-45deg);
    width: 60%;
    top: -6px;
    left: -1px;
}

.mobile-nav:hover span:after, .mobile-nav:target span:after, .mobile-nav.active span:after {
    transform: rotate(45deg);
    width: 60%;
    bottom: -6px;
    left: -1px;
}
.mobile-nav:hover, .mobile-nav.active {
    transition-delay: 300ms;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -mz-transform: translateX(-10px);
}
#mask-mobile-nav{
    width: 100%;height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background: rgba(0,0,0,0.3);
    visibility: hidden;
    transition: 300ms;
}
#mask-mobile-nav.active{
    visibility: visible;
    z-index: 99999;
}
.control-mobile-nav span {
    width: 30px;
    display: block;
    height: 2px;
    background: #fff;
    margin: 19px 0;
    position: relative;
}

.control-mobile-nav {
    padding: 0 5px
}

.control-mobile-nav span:after, .control-mobile-nav span:before {
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all 250ms;
    position: absolute;
    right: 0;
    content: '';
    display: block;
}

.control-mobile-nav span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 0px;
}

.control-mobile-nav span:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    bottom: 0px;
}

.control-mobile-nav span {
    background: #1f1f1f;
}
.navmobile .menu-mainmenu-container{
    width: 250px;
}
/*@media(max-height: 480px){
    .navmobile .menu-mainmenu-container{
        height: 400px;
    }
}
@media(max-height: 320px){
    .navmobile .menu-mainmenu-container{
        height: 280px;
    }
}
@media(max-height: 768px){
    .navmobile .menu-mainmenu-container{
        height: 480px;
    }
}*/
.menu-mainmenu-container .showsubnav {
    border-left: 1px solid rgba(0, 0, 0, 0.15)
}

.img_caption.left {
    float: left;
    margin-right: 20px;
}

.img_caption.right, .alignright {
    float: right;
    margin: 0 0 20px 20px;
}

#topcart a::after {
    width: 0 !important;
}

.wpb_wrapper ol {
    padding: 0
}
/*404*/
.error404  .wrapper-breadcrumb{
    display: none;
}
.error-404{
    min-height: 400px;
}
.error-404 .page-header h1{
    color: #000;
    font-size: 200px;
    text-align: center;
    border-bottom: none;
    margin:0
}
.error-404  .page-header{
    margin:0;
    padding:0;
    border: none;
}
.error-404 h2.page-title{
    text-align: center;
    font-size: 38px;
}
.error-404 .back-home{
    padding:20px 30px;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    margin:0 auto;
    display: inline-block;
    letter-spacing: 2px;
    width: auto;
    transition: all 500ms;
    border:4px solid #000;
}
.error-404 .back-home:hover{
    background: #000;
    color: #fff;
}
.error-404 p{
    text-align: center;
    padding:30px 0
}
@media(max-width: 768px){
    .wpb_column{
        margin-bottom: 35px;
    }
    .wpb_column:last-child{
        margin-bottom: 0;
    }
    .wpb_column img{
        width: 100%;
    }
}
/*search-result-item*/
.search-result-item{
    padding-bottom: 25px;
    border-bottom: 4px solid #f7f7f7;
    margin-bottom: 35px;
}
/*masory css*/
#mobile-masonry-filter{
    display: none;
    width: 250px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
 }
#mobile-masonry-filter span{
    height: 30px;
    line-height: 30px;
    padding:0 20px;
    display: inline-block;
    color: #000;
    min-width: 220px;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 500ms ease-in-out;
}
#mobile-masonry-filter i{
    color: #000;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    float: right;
    font-size: 22px;
    transition: 300ms;
}
@media (max-width: 768px){
    .wrapper-rit-masonry-filter{
        width: 250px;
        text-align: center;
        position: relative;
        margin: 0 auto 10px;
        display: block;
    }
    #rit-masonry-filter{
        position: absolute;
        width: 250px;
        left: 0;
        z-index: -1;
        top: -100px;
        opacity: 0;
        transition: 500ms;
        background: #fff;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    }
    #rit-masonry-filter li{
        width: 100%;
    }
    #rit-masonry-filter li:after{
        display: none;
    }
    #mobile-masonry-filter{
        display: inline-block;
    }
    #mobile-masonry-filter:hover{
        cursor: pointer;
    }
    .wrapper-rit-masonry-filter:hover  #mobile-masonry-filter span{
        letter-spacing: 5px;
    }
    .wrapper-rit-masonry-filter:hover  #mobile-masonry-filter i{
        transform: rotateX(180deg);
    }
    .wrapper-rit-masonry-filter:hover #rit-masonry-filter, #rit-masonry-filter.active{
        opacity: 1;
        z-index: 999;
        top: 35px;
    }
}
main.site-main>.vc_row{
    margin: 0 !important;
}
.text-homepage2 p{
    font-size: 30px;
    line-height: 35px;
}
.timeline-date{border:4px solid #000;color: #000}
.portfolio-page main.site-main .vc_row {
    margin: 0 -15px !important;
}
.site-main>ol li{
    list-style: decimal;
}
.site-main>.content-page>.vc_row{
    margin:0 -15px !important;
}
.mejs-controls a:after{
    display: none !important;
    width: 0;
}
article.single-post img{
    max-width: 100%;
    height: auto !important;
}
.alignleft{
    margin-right: 10px;
}
.content-page ul, .content-page ol, .list-comments .content-comment ol, .list-comments .content-comment ul {
    margin: 0 0 0 20px;
    padding:10px 0
}
.content-page ul li ul, .content-page ol li ol, .list-comments .content-comment ol li ol, .list-comments .content-comment ul li ul{
    padding:0
}
.list-comments .content-comment ol li, .list-comments .content-comment ul li{
    border:none
}
.content-page ul>li, .list-comments .content-comment ul>li, .description ul>li{
    list-style: square;
    padding-bottom: 10px;
}
.content-page ol>li, .list-comments .content-comment ol>li, .description ol>li{
    list-style: decimal !important;
    padding-bottom: 10px;
}
.content-page li:last-child{
    padding-bottom: 0;
}
.list-comments .content-comment li{
    padding-top:0;
    display: list-item;
}
.content-page table, .single-post.news-item table, .list-comments .content-comment table, .sidebar-item table{
    width: 100%;
    margin-bottom: 20px;
}
.content-page table tr, .single-post.news-item table tr, .list-comments .content-comment table tr, .sidebar-item table tr{
    border-bottom: 1px solid #f5f5f5;
}
.content-page table thead th, .single-post.news-item table thead th, .list-comments .content-comment table thead th, .sidebar-item table thead th{
    padding:10px 0;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
}
.content-page table td, .single-post.news-item table td, .list-comments .content-comment table td , .sidebar-item table td{
    padding:10px 0
}
.list-comments .content-comment h2{
    border-bottom: none !important;
}
article.post-item{
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 4px solid #f7f7f7
}
input[type="password"]{
    border:1px solid #000;
    line-height: 24px;
    padding:8px;
    color: #000;
    height: 35px;
}
input[type="password"]:focus{
    border: 5px solid #000;
}
.description figure a:after{
    display: none;
    visibility: hidden;
}
.wp-caption-text{
    padding:5px 0
}
.search-form .search-submit{
    border:none
}
.single-post .description a:after{
    display: none;
}
.single-post .description a:not(img):after{
    display: block;
}
figure{
    max-width: 100%;
}
.sidebar-item li a:after{
    visibility: hidden;
}
.afternotvisible:after{
    visibility: hidden;
    display: none;
}
article.single-post .description figcaption{
    text-align: center;
    font-style: italic;
}
article.single-post .description  figure{
    margin-bottom: 20px;
}
dt{
    padding:5px 0
}
dd{
    margin-bottom: 15px;
}
dl{
    padding-left: 20px;
}
.widget_recent_entries li a, .widget_recent_comments li, .sidebar-item li a, .widget_rss li{
    display: inline-block;
}
.sidebar-item li{
    border-bottom: 1px solid #EAEAEA;
    width: 100%;
}
embed, iframe{
    display: block;
    margin:0 auto
}
.textwidget img, .sidebar-item img, .widget img{
max-width: 100%;
    height: auto;
}
h1.site-title{
    margin:0
}
.gallery-item {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 25%;
}
.sidebar-item ul.children{
    width: 100%;
}
.sidebar-item ul.children > li:last-child{
    border-bottom: none;
}.sidebar-item #rit_searchform{
    display: inline-block;
    width: 100%;
 }
 .sidebar-item #rit_searchform .btn-submit{
    margin-top: 5px;
    float: right;
}
.comment-form  .btn-submit{
    border:3px solid #000;
}
.site-main .content-page>.vc_row{
    margin:0
}
.title-portfolio a{
    color: #b7b7b7;
    transition: all 500ms;
    font-size: 16px;
    text-transform: uppercase;
}
.title-portfolio:hover a{
    color: #000;
    cursor: pointer;
}
#bottom-footer.no-widget{
    margin-top: 60px;
}
.portfolio-page .title h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.payment_methods  li{
    list-style: none !important;
}
.about-block-2 h1{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
}
.about-block-2 p{
    font-size: 16px;
    letter-spacing: 6px;
}
.title-block-about-2{
    margin: 40px 0 80px;
}
.title-block-about-2 h3:before, .client h3:before {
    width: 40px;
    position: absolute;
    bottom: -20px;
    background: #000;
    height: 1px;
    content: '';
    left: 50%;
    margin-left: -20px;
}
.title-block-about-2 h3, .client h3 {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 24px !important;
    position: relative;
    font-weight: 300;
}
.wrapper-team-item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.wrapper-team-item .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top:0;
    background: rgba(255,255,255,0.8);
    transition: 300ms;
}
.wrapper-team-item:hover .mask{
    left: 0;
    cursor: pointer;
}
.wrapper-team-item  .wrapper-content-mask{
    padding:80px 0 0 45px;
    width: 100%;
    height: 100%;
    text-align: left;
}
.wrapper-team-item  .wrapper-content-mask h3{
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    font-size: 16px;
}
.wrapper-team-item  .wrapper-content-mask h4{
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 400;
    color: #777;
}
.wrapper-team-item .socail{
    margin-top: 30px;
}
.wrapper-team-item .socail i{
    color:#000;
    font-size: 16px;
}
.wrapper-team-item .socail a{
    padding:5px 0;
    display: block;
}
.wrapper-team-item .socail a:hover i{
    color: #777;
}
#top-about-2 h1{
font-weight: 700;
}
#top-about-2 .img-w-border{
    position: relative;
}
#top-about-2 .img-w-border:after{
    width: 100%;
    height: 100%;
    display: block;
    border:2px solid #e1e1e1;
    content: '';
    position: absolute;
    top: 30px;
    right: 30px;
}
#top-about-2 p, #main-about-2 p{
    font-weight: 300;
}
#main-about-2 .about-block-2{
    padding-left: 30px;
}
#main-about-2 h1 {
    font-size: 30px;
    font-weight: 300;
}
@keyframes type {
    0%{width: 0}
    30%{width: 305px}
    70%{width: 305px}
    100%{width: 0}
}
@keyframes type2{
    0%{width: 0}
    70%{width: 0}
    100%{width: 380px}
}
@keyframes blink{
    to{opacity: .0;}
}
.autotyping h1{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0px;
    animation: type 5s steps(20,end);
    position: relative;
    float: left;
    margin:40px 0 30px;
    font-size: 36px !important;
}
.autotyping p{
    padding-right: 40px;
    letter-spacing: 6.5px;
    line-height: 30px;
}
.autotyping .blink{
    animation: blink 1s infinite;
    border-bottom: 2px solid #000;
    color: #fff;
    display: inline-block;
    float: left;
    font-weight: bold;
    height: 35px;
    margin: 40px 0 20px;
    width: 20px;
}
.autotyping h1:nth-child(2){
    animation: type2 8s steps(30,end);
    width: 380px
}
#main-about-2.about-me{
    margin-top: 10px;
    margin-bottom: 30px;
}
#main-about-2.about-me h1{
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-bottom: 8px;
}
#main-about-2.about-me p{
    padding-top: 5px;
}
#main-about-2.about-me p, #main-about-2.about-me h4{
    letter-spacing: 6px;
    font-size: 16px;
}
#main-about-2.about-me h4{
    margin:0;
    line-height: 30px;
}
#top-about-2 .about-me .socail{
    margin-top: 40px;
}
#top-about-2 .about-me p{
    padding:8px 0
}
#top-about-2 .about-me .socail a{
    padding:0 25px
}
#top-about-2 .about-me .socail a:first-child{
    padding-left: 0;
}
#top-about-2 .about-me .socail a:hover i{
    color: #000;
}

@media (max-width:768px) {
    #top-about-2 .about-me{
        padding-top: 0;
    }
    #main-about-2.about-me h1{
        margin:0
    }
    #main-about-2.about-me h4{
        width: 100%;
    }
    #top-about-2 .autotyping{
        padding-top: 0;
    }
    #main-about-2 .about-block-2{
        padding: 30px 0 0
    }
    #top-about-2 .img-w-border:after{
        display: none;
    }
}
#wrapper-rit-item-masonry{
    margin:0 -15px !important;
}
.page-template-template_home .rit-recent-post-shortcode .title span{
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    text-transform: capitalize;
}
.rit-recent-post-shortcode .side-item-thumb{
    width: 100% !important;
    height: auto !important;
}
.rit-recent-post-shortcode li{
    padding:15px 0
}
.rit-recent-post-shortcode-item h4{
    margin-top: 0;
    font-size: 16px;
}
.rit-recent-post-shortcode .rit-recent-post-shortcode-item .side-image a img{
    width: auto !important;
    height: auto;
}
.hassticky.forcefullwidth_wrapper_tp_banner{
    margin-top:0 !important;
}
.footer-center {
    text-align: center;
}
.footer-center .rit-socail-page{
    text-align: center !important;
}
.footer-center  .eva-social-icon{
    text-align: center;
}
.footer-center  .eva-social-icon a{
    border:none !important;
    overflow: hidden;
}
.footer-center  .eva-social-icon i{
    transition: 300ms;
}
.footer-center  .eva-social-icon a:hover i{
    color: #666;
}
#footer-center{
    background: #f9f9f9;
    padding:30px 0 50px
}
#footer-center #bottom-footer{
    border-color: #f9f9f9;
}
#footer-center #copy-right{
    background: #f9f9f9;
}
#footer-center .widget{
    padding:10px 0
}
.float-left #rit-masonry-filter{
    text-align: left;
}
.rit-title > a {
    display: inline-block;
}