/*
* Custom css for woocommerce
* Author: NTK
* 23/6/2015
*/
.woo-breadcrumb ul.breadcrumbs {
    display: block;
    width: auto !important;
}

.woo-breadcrumb .page-title {
    font-weight: 400;
    line-height: 40px;
    height: 40px;
}

@media (max-width: 480px) {
    .woo-breadcrumb ul.breadcrumbs {
        display: block;
        width: 100% !important;
        text-align: center;
    }

    .woo-breadcrumb .page-title {
        text-align: center;
    }
}

.wrapper-thumb-cat {
    display: block;
    margin-bottom: 10px;
}

.term-description {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #666;
}

.term-description p {
    color: #666;
}

.header-woopagecat .page-title {
    display: inline-block;
    padding: 5px 15px 0px 5px;
    border-bottom: 2px solid #333;
    height: 100%;
    font-weight: 400;
}

.header-woopagecat {
    margin-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
}

.header-woopagecat > div {
    line-height: 40px;
    min-height: 40px;
}

@media (max-width: 768px) {
    .header-woopagecat {
        text-align: center;
    }

    .header-woopagecat > div {
        text-align: center;
        margin-bottom: 5px;
    }

    .header-woopagecat .page-title {
        padding: 0 15px
    }
}

.woocommerce-result-count, .woocommerce-ordering {
    display: inline-block;
    float: left;
}

.woocommerce-ordering {
    min-width: 200px;
    margin: 5px 0 5px 10px
}

.woo-opt-page {
    text-align: right;
}

.woo-opt-page .woocommerce-result-count {
    margin: 0;
    line-height: 40px;
    height: 40px;
}

.woo-opt-page .woocommerce-ordering select {
    padding: 0 5px;
    color: #333;
}

.woo-opt-page .woocommerce-ordering option {
    padding: 5px
}

.products {
    margin-bottom: 30px;
}

.products .product {
    padding: 10px
}

.wrapper-product {
    position: relative;
    display: block;
}

.wrapper-product > a {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper-product .onsale {
    position: absolute;
    left: 0;
    top: 20px;
    background: #fff;
    color: #333;
    padding: 8px 15px
}

/*-------Products Grid layout--------*/
.grid-layout .wrapper-product{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.grid-layout .wrapper-product-info{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}
.grid-layout  .woo-wrapper-thumb{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    box-sizing: initial;
}
.grid-layout  .woo-wrapper-thumb a{
    display: block;
    width: 100%;
    height: 100%;
}
.grid-layout .woo-product-info {
    bottom: 0;
    display: block;
    margin-top: -60px;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 10px;
    background: #fff;
    height: 30%;
    transition: all 500ms;
    z-index: 9;
}
.grid-layout .woo-product-info  .price{
    width: 100%;
    display: inline-block;
}
.grid-layout .woo-product-info  .price ins{
    width: 100%;
    display: block;
    color: #000;
    font-size: 16px;
}
.grid-layout .woo-product-info  .price ins span.amount{
    color: #000;
    font-size: 16px;
}
.grid-layout .woo-product-info  .price del{
    width: 100%;
    display: block;
}.grid-layout .woo-product-info  .price del span.amount{
    padding:0 5px;
    position: relative;
    font-size: 16px;
 }
.grid-layout .woo-product-info  .price del span.amount:after{
    width: 100%;
    background:#a4a4a4;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
}
.grid-layout .woo-product-info  .price>.amount{
    display: block;
    width: 100%;
    color: #000;
    font-size: 16px;
}
.grid-layout h3{
    margin:0
}
.grid-layout h3 a{
    font-weight: 400;
    font-size: 16px;
}
.woocommerce ul.grid-layout li.product h3{
    padding:0
}
.woocommerce ul.grid-layout li.product .price del{
    padding:5px
}
.woocommerce ul.grid-layout li.product .price ins{
    font-weight: 400;
}
.woocommerce ul.grid-layout li.product .price ins .amount{
    padding:0
}
.woocommerce ul.grid-layout li.product .price{
    margin: 0;
}
.woocommerce ul.grid-layout li.product .price>.amount{
    padding-bottom: 8px;
}
.woocommerce ul.grid-layout li.product .product_type_simple{
    border:1px solid #fff;
}
.woocommerce ul.grid-layout li.product .product_type_simple:hover{
    border-color: #666;
}
.woocommerce ul.products li.product .button{
    background: none;
}
.woocommerce ul.products li.product .button.yith-wcqv-button{
    background: none;
    border: 1px solid #fff;
    margin:0 2px;
    line-height: 40px;
    padding: 0;
    overflow: hidden;
}
.woocommerce ul.products li.product .button.yith-wcqv-button:hover{
    border-color: #666;
}
.woocommerce ul.products li.product .yith-wcwl-add-to-wishlist a{
    margin:0
 }
.woocommerce ul.products li.product .star-rating{
    padding: 5px 5px 5px 0;
    display: inline-block;
}
.woocommerce ul.products li.product .star-rating span{
    display: block;
}
.woocommerce ul.products li.product .woocommerce-review-link{
    padding:0
}
.woo-product-button {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    height: 100%;
    position: relative;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: all 500ms;
}
.woo-product-button .button{
    background: none;
    border:1px solid #fff;
    opacity: 1;
}
.group-grid-button .yith-wcwl-add-to-wishlist{
    width: 40px;
    height: 40px;
    margin: 0 2px;
    overflow: hidden;
    display: inline-block;
}
.group-grid-button .yith-wcwl-add-to-wishlist:hover .btn-wishlist, .group-grid-button .yith-wcqv-button:hover, .group-grid-button .product_type_simple:hover{
    background: #666!important;
    border-color:#666;
    cursor: pointer;
}
.group-grid-button  .btn-wishlist{
    border:1px solid #fff;
    background: none;
    color: #fff;
    border-radius: 0;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
}
.group-grid-button  .btn-wishlist a{
    border-radius: 0;
    color: #fff;
    border: none;
}
.group-grid-button  .btn-wishlist a i{
    margin:0;
    color: #fff;
    font-size: 22px;
}
.group-grid-button .yith-wcqv-button{
    display: inline-block;
    overflow: hidden;
    margin:0 2px
}
.group-grid-button {
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.group-grid-button .product_type_simple{
    background: none !important;
}
li.product .btn-wishlist span{
display: none;
 }
.btn-wishlist span{
    color: #000;
}
.yith-wcqv-button{
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
}
.yith-wcqv-button:before{
    content: '\f06e';
    font-family: FontAwesome;
    font-size: 22px;
    color: #fff;
    display: block;
}
.grid-layout li.product:hover .woo-product-button{
    opacity: 1;
    z-index: 99;
    height: 70%;
}
.grid-layout li.product:hover .wrapper-product{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.grid-layout li.product:hover  .woo-product-info{
    margin:0;
    top: 70%;
    z-index: 999;
}
    /*-------Products Grid layout--------*/

.wrapper-product-info:hover .add_to_cart_button {
    opacity: 1;
    transition-delay: 300ms;
}

.added_to_cart{
    display: none;
}
.add_to_cart_button.added:after{
font-family: FontAwesome;
    color: #fff;
    content: '\f00c';
    display: block;
    top:5px;
    left: 20px;
    font-size: 16px;
}
.wrapper-product-info .add_to_cart_button:hover, .wrapper-product-info .added_to_cart:hover {
    transition-delay: 0ms;
}

.wrapper-product-info .add_to_cart_button:focus {
    text-decoration: none;
}

.woocommerce-pagination {
    width: 100%;
    text-align: center;
    margin: 40px 0 10px;
}

.page-numbers {
    margin: 0;
    display: block;
}

.woocommerce-pagination ul {
    border: none
}

.woocommerce-pagination li {
    display: inline-block;
    margin-left: -2px;
    padding-left: 5px;
}

.woocommerce-pagination li .page-numbers {
    padding: 5px 8px;
    display: block;
    min-width: 35px;
    line-height: 25px;
}

.product_list_widget li {
    display: block;
    width: 100%;
    padding: 10px 0 !important;
    border-bottom: 1px solid #f5f5f5;
}

.product_list_widget .wrapper-thumb-product {
    width: 25%;
    float: left;
}

.product_list_widget .wrapper-thumb-product img {
    width: 100% !important;
    margin: 0;
}

.product_list_widget .product-info {
    width: 75%;
    display: block;
    float: left;
    padding-left: 5px;
}

.product_list_widget .product-info h4 {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: normal;
}

.product_list_widget .product-info h4 a {
    font-size: 16px;
    font-weight: 400 !important;

}

.product_list_widget .product-info del {
    padding-right: 10px;
    text-decoration: line-through;
}

.product_list_widget .product-info a {
    display: inline-block !important;
}

.product_list_widget .product-info a:hover:after {
    width: 100%;
    left: 0;
}

.amount {
    padding: 5px 0;
    display: inline-block;
}

.widget_product_categories .product-categories li {
    width: 100%;
    display: block;
    position: relative;
    padding: 8px 0px;
}

.widget_product_categories ul.children {
    width: 100%;
    padding-left: 10px;
}
.widget_product_categories .children li {
    padding: 5px 0;
    border: none;
}

.widget_product_categories ul.children > li:first-child {
    border: none
}

.widget_products del span {
    text-decoration: line-through;
}

.product-categories .showsubnav {
    position: absolute;
    left: 5px;
    top: 8px;
    z-index: 9;
}

.widget_product_categories .product-categories li:hover > .showsubnav i, .widget_product_categories .product-categories li:hover > a {
    color: #000 !important;
}

.product-categories .showsubnav:hover {
    cursor: pointer;
}
/*Price filter*/
.price_slider {
    display: block;
    height: 10px;
    position: relative;
    background: #ccc;
    margin-left: 10px
}

.price_slider .ui-slider-range {
    background: #333;
    height: 10px;
    position: absolute;
}

.price_slider .ui-slider-handle {
    background: #f5f5f5;
    height: 20px;
    width: 10px;
    position: absolute;
    top: -5px;
    cursor: pointer;
    margin-left: -10px;
}

.price_slider_amount {
    padding: 20px 0
}

.price_slider_amount .button {
    padding: 8px 15px !important;
    border: 1px solid #333 !important;
    background: none !important;
    font-size: 16px;
    color: #333 !important;
    border-radius: 0 !important;
    font-weight: 400 !important;
}

.price_slider_amount .button:hover {
    cursor: pointer;
    background: #333 !important;
    color: #fff !important;
}

.price_label {
    padding: 10px 0;
    color: #333;
}

.related.products .row {
    margin: 0 -5px
}

.related.products .title {
    width: 100%;
}

.related.products .title span {
    display: inline-block;
    padding: 5px 10px 5px 5px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: -2px;
}

.wrapper-detail-product-info {
    margin-top: 60px;
}

.wrapper-detail-product-info .tabs {
    display: block;
    width: 100%;
    border-top: 2px solid #dfe5e9;
    background: #F5F6F7;
    margin: 0 !important;
}

.wrapper-detail-product-info .tabs li {
    padding: 8px 20px;
    display: inline-block;
    border-right: 1px solid #fff;
    margin-top: -2px;
    margin-left: -2px;
    border-top: 2px solid #dfe5e9;
}

.wrapper-detail-product-info .tabs li:nth-child(1) {
    margin-left: 0;
}

.wrapper-detail-product-info .tabs li a {
    color: #a4a4a4;
    font-size: 16px;
}

.wrapper-detail-product-info .tabs li.active, .wrapper-detail-product-info .tabs li:hover {
    cursor: pointer;
    border-top: 2px solid #000;
    background: #fff;
}

.wrapper-detail-product-info .tabs li.active > a, .wrapper-detail-product-info .tabs li:hover > a {
    color: #000;
}

.wrapper-detail-product-info .tabs li a:focus {
    text-decoration: none;
}

.woocommerce-tabs .panel {
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 15px;
    margin: 0
}

.woocommerce-tabs .panel h2 {
    margin-top: 0
}

.woocommerce-tabs {
    border: 1px solid #dfe5e9;
}

.single-product > .product .onsale {
    left: 25%;
}

.list-related .onsale {
    left: 0 !important;
}

/*Custom css for YITH Magnifier*/
.images {
    display: inline-block;
}

.yith_magnifier_zoom_wrap {
    width: 75%;
    float: right;
}

.thumbnails.slider {
    width: 25%;
    float: left;
}

.yith_magnifier_zoom img {
    height: auto;
    width: 100%;
}

.yith_magnifier_zoom_magnifier {
    transition: none;
    border: none !important;
}

.yith_magnifier_thumbnail img {
    height: auto;
    width: 100%;
}

.yith_magnifier_thumbnail a {
    margin: 0 !important;
}

.thumbnails.slider {
    padding: 55px 0px;
    position: relative;
}

.yith_magnifier_gallery {
    height: auto !important;
    transition: none;
}

#slider-prev, #slider-next {
    position: absolute;
    width: 30px;
    height: 20px;
    font-family: FontAwesome;
    color: #000;
    line-height: 30px;
    text-align: center;
    margin-left: -15px;
    left: 50%;
}

#slider-prev {
    top: 20px;
}

#slider-prev:after {
    content: '\f106';
}

#slider-next {
    bottom: 20px;
}

#slider-next:after {
    content: '\f107';
}

#slider-next:after, #slider-prev:after {
    font-family: FontAwesome;
    color: #EAEAEA;
    font-size: 36px;
    height: 20px;
    line-height: 20px;
}

#slider-prev:hover, #slider-next:hover {
    cursor: pointer;
}

#slider-prev:hover:after, #slider-next:hover:after {
    color: #000
}

.yith_magnifier_thumbnail:hover img {
    border: 1px solid #000;
}

.yith_magnifier_thumbnail img {
    border: 1px solid transparent;
}

span.onsale {
    background: #fff none repeat scroll 0 0;
    color: #000;
    padding: 10px 20px;
    position: absolute;
    top: 10px;
}

.cart div.quantity span {
    transition: 300ms;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f1f1f1;
    display: inline-block;
}

.cart div.quantity  span i {
    color: #9aa7af;
    font-size: 20px;
    position: relative;
    left: 0;
    top: 2px;
}

.cart div.quantity  span:hover {
    cursor: pointer;
    background: #000;
}

.cart div.quantity  span:hover i {
    color: #fff;
}

.cart div.quantity  .qty {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
}

.qty::-webkit-inner-spin-button,
.qty::-webkit-outer-spin-button {
    -moz-appearance: none;
}

/*End custom*/
.entry-summary h1.product_title {
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
}

.star-rating {
    display: inline-block;
    width: 75px;
    height: 12px;
    background: url(../images/star.png) repeat-x left 0
}

.star-rating span {
    background: url(../images/star.png) repeat-x left -12px;
    height: 0;
    padding-top: 12px;
    overflow: hidden;
    float: left
}

.hreview-aggregate .star-rating {
    margin: 10px 0 0 0
}

#review_form #respond {
    position: static;
    margin: 0;
    width: auto;
    padding: 0 0 0;
    background: transparent none;
    border: 0
}

#review_form #respond:after {
    content: "";
    display: block;
    clear: both
}

#review_form #respond p {
    margin: 0 0 10px
}

#review_form #respond .form-submit input {
    left: auto
}

#review_form #respond textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

p.stars:after {
    content: "";
    display: block;
    clear: both
}

p.stars span {
    width: 75px;
    height: 12px;
    position: relative;
    float: left;
    background: url(../images/star.png) repeat-x left 0;
    overflow: hidden
}

p.stars span a {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 0;
    padding-top: 16px;
    overflow: hidden
}

p.stars span a:hover, p.stars span a:focus {
    background: url(../images/star.png) repeat-x left -12px;
    transition: none
}

p.stars span a.active {
    background: url(../images/star.png) repeat-x left -12px;
}

p.stars span a.star-1 {
    width: 16px;
    z-index: 10
}

p.stars span a.star-2 {
    width: 32px;
    z-index: 9
}

p.stars span a.star-3 {
    width: 48px;
    z-index: 8
}

p.stars span a.star-4 {
    width: 64px;
    z-index: 7
}

p.stars span a.star-5 {
    width: 80px;
    z-index: 6
}

.woocommerce-review-link {
    display: inline-block;
    padding-left: 10px;
}

.entry-summary .price {
    padding: 10px 0;
    border-bottom: 1px solid #EAEAEA;
}

.entry-summary span.amount {
    font-size: 26px;
    color: #000;
}

.entry-summary del {
    text-decoration: line-through;
    margin-right: 20px;
}

.entry-summary del span.amount {
    text-decoration: line-through;
    color: #a4a4a4;
    font-size: 16px !important;
}

.entry-summary .quantity {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.single_add_to_cart_button {
    margin: 0 !important;
    border: none;
    display: block;
    float: left;
}

.entry-summary .cart {
    display: inline-block;
    width: 100%;
    padding: 20px 0
}

.sku_wrapper, .posted_in {
    display: inline-block;
    width: 100%;
}

.sku {
    color: #000
}

.posted_in a:after {
    display: block;
}

.posted_in a:hover:after {
    width: 100%;
    left: 0;
}

#comments h2 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid #f5f5f5;
}

.commentlist {
    padding: 5px 0 !important;
}

.commentlist li {
    border-bottom: 1px solid #f5f5f5;
}

.commentlist p.author {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0;
}

.commentlist .description {
    padding: 5px 0
}

.comment-form label {
    color: #333;
    font-weight: 400;
    padding-right: 10px
}

.comment-form-rating .stars {
    margin-bottom: 0 !important;
    display: inline-block;
}

.comment-form textarea {
    height: 140px;
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #eaeaea;
}

.form-submit {
    margin-top: 10px !important
}

.submit {
    padding: 8px 15px;
    font-size: 16px;
    color: #333;
    border: 1px solid #333;
    background: none;
}

.submit:hover {
    background: #333;
    color: #fff;
}

.comment-form-email > input, .comment-form-author > input {
    padding: 5px;
    width: 100%;
    border: 1px solid #eaeaea
}

/*Top cart*/
#topcart {
    height: 40px;
    position: absolute;
    right: 50px;
    top: 10px;
    width: 40px;
}

#topcart i {
    color: #000;
}

#topcart > a {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
}

#topcart > a > span {
    color: #000;
    font-size: 26px;
}

#topcart > a:after, #topcart > a:hover:after {
    display: none !important;
    width: 0 !important;
}

#topcart > a:before {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    display: block;
    color: #000;
    content: '\f107';
    font-family: FontAwesome;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    z-index: 999;
    top: 0px;
    transition: 300ms;
    opacity: 0;
}

#topcart:hover > a:before {
    top: 30px;
    opacity: 1;
}

.total-product {
    top: 0;
    color: #000;
    height: 30px;
    padding: 5px;
    position: absolute;
    left: 20px;
    text-align: center;
    width: 30px;
}

.wrapper-totalcart {
    right: 0px;
    width: 0px;
    position: absolute;
    top: 50px;
    border-top: 2px solid #000;
    padding: 10px 10px 15px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    transition: ease-in-out 500ms;
    background: #fff;
    visibility: hidden;
}
.cart-empty{
    padding:0 !important;
}
.cart-empty .empty{
    padding: 0;
    border: none;
}
#topcart:hover .wrapper-totalcart {
    opacity: 1;
    z-index: 99999;
    right: -50px;
    width: 280px;
    transition-delay: 300ms;
    visibility: visible;
}

#topcart .content-cart {
    width: 260px;
    display: block;
}

.content-cart .btn {
    border: 4px solid #000;
    border-radius: 0;
    color: #000;
    display: inline-block;
    padding: 5px 10px;
    transition: all 500ms;
}

.content-cart .btn-cart {
    margin-right: 10px;
}

.content-cart .btn:hover {
    background: #000;
    color: #fff;
}

.content-cart span.amount {
    color: #333;
}

.woocommerce .shop_table.cart {
    border: none
}

.woocommerce table.shop_table thead th {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#shipping_postcode_field {
    width: 100% !important;
}

.cart_item .product-name, .shop_table .product-name, .woocommerce-checkout-review-order-table th {
    padding-left: 0 !important;
}

#place_order {
    font-weight: 700 !important;
}

.woocommerce table.shop_table tfoot th {
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
}

.woocommerce table.shop_table tr:first-child td {
    border-top: none;
}

.woocommerce table.shop_table .amount {
    color: #000;
}

.coupon .input-text {
    padding: 8px;
    min-width: 200px;
    color: #333;
}

.woocommerce .actions .button, .return-to-shop a.button {
    padding: 8px 15px;
    color: #000;
    background: none;
    border: 4px solid #000;
    border-radius: 0;
    font-weight: 400;
    text-transform: uppercase;
    height: 38px;
    margin-left: 10px;
}

.woocommerce .actions .button:hover, .return-to-shop a.button:hover {
    background: #000;
    color: #fff;
}

.woocommerce table.shop_table td.actions {
    padding: 15px 0 5px !important;
}

.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.customer_details tr:first-child td {
    border-top: none !important;
}

.customer_details th {
    font-weight: 400 !important;
    color: #000;
    text-transform: uppercase;
}

.woocommerce .order_details li {
    color: #000;
    font-size: 14px;
}

.button.wc-backward {
    line-height: 15px !important;
    margin: 0 !important;
}

.cart-collaterals .cart_totals {
    width: 100% !important;
}

.wrapper_cart_totals h3.title {
    display: inline-block;
    border-bottom: 2px solid #eaeaea;
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.wrapper_cart_totals h3.title:after, .cart_totals .title:after {
    position: absolute;
    width: 60px;
    height: 2px;
    background: #000;
    bottom: -2px;
    left: 0;
    content: '';
    display: block;
}

.wrapper_cart_totals h3.title span {
    font-weight: normal;
    color: #333;
    padding: 5px 0px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cart_totals .title {
    border-bottom: 2px solid #ccc;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px 0;
    position: relative;
}

.wrapper_cart_totals .shipping {
    color: #333;
}

.wrapper_cart_totals .shipping_method {
    padding: 3px 5px;
    margin-left: 10px;
}

.wrapper_cart_totals .shipping_method option {
    padding: 5px;
    color: #333;
}

.woocommerce-shipping-calculator {
    padding: 10px 0
}

.shipping-calculator-button, .shipping-calculator-form p .button, .wc-proceed-to-checkout .checkout-button.button.alt {
    padding: 8px !important;
    border: 4px solid #000;
    display: inline-block;
    background: none;
    border-radius: 0;
    font-weight: 400;
    text-transform: uppercase;
    height: 40px;
    line-height: 15px !important;
}

.woocommerce .woocommerce-message {
    border-color: #666;
}

.woocommerce .woocommerce-message::before {
    color: #666;
}

.woocommerce-message a {
    font-weight: bold;
}

.shipping-calculator-form b.button {
    border: none !important;
    border-left: 1px solid #eaeaea !important;
}

.shipping .selectric-wrapper {
    margin-top: 10px;
}

.wc-proceed-to-checkout .checkout-button.button.alt {
    color: #000;
    height: 40px;
    line-height: 22px;
}

.woocommerce .woocommerce-info {
    border-color: #666;
}

.woocommerce .woocommerce-info::before {
    color: #666;
}

.shipping-calculator-button:hover, .shipping-calculator-form p .button:hover, .wc-proceed-to-checkout .checkout-button.button.alt:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
    text-decoration: none;
}

.shipping-calculator-button:active, .shipping-calculator-button:visited {
    text-decoration: none;
}

.shipping-calculator-form option, .shipping-calculator-form p input {
    padding: 3px 5px;
    color: #333;
}

.shipping-calculator-form p input {
    padding: 8px !important;
}

.shipping-calculator-form select {
    padding: 5px;
    color: #333;
}

.order-total label {
    color: #333;
    font-weight: normal;
    min-width: 100px;
    display: inline-block;
}

.order-total span.amount {
    color: #333;
}

/*custom CheckOut css*/
.select2-container .select2-choice {
    border-radius: 0;
}

.input-text {
    padding: 8px !important;
    border-radius: 0 !important;
    border: 1px solid #ccc;
    color: #333;
}

.woocommerce form .form-row label {
    font-weight: 400;
    color: #333;
}

.woocommerce table.shop_table {
    border: none
}

.woocommerce-checkout-review-order-table tfoot th {
    border-bottom: none !important;
    font-weight: 400 !important;
    font-size: 16px;
}

.cart-subtotal td {
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.shipping_method {
    color: #333;
    font-weight: 400 !important;
}

.shipping_method option {
    padding: 5px
}

.product-quantity {
    color: #333;
}

.woocommerce-checkout #payment {
    background: #f5f5f5;
    border-radius: 0;
}

.woocommerce-checkout #payment label {
    color: #333;
    font-weight: 400;
}

#place_order {
    padding: 8px 15px;
    border: 4px solid #000;
    background: none;
    border-radius: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;
    width: 100%;
    height: 50px;
}

#place_order:hover {
    background: #000;
    color: #fff;
}

.showcoupon, .showlogin {
    font-weight: bold;
}

.showcoupon:hover:after, .showlogin:hover:after {
    width: 100%;
    left: 0;
}

.cart_item .product-name {
    color: #000;
}

.checkout.woocommerce-checkout h3 {
    width: 100%;
    border-bottom: 2px solid #eaeaea;
    display: block;
    position: relative;
}

.checkout.woocommerce-checkout h3:after {
    background: #000;
    width: 60px;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    content: '';
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    height: 38px;
}

.checkout.woocommerce-checkout h3 span {
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 5px 0px;
}

.woocommerce-message {
    background: #fff none repeat scroll 0 0;
    border-left: 5px solid #333;
    box-shadow: 5px 5px 5px 5px #eaeaea;
    padding: 20px;
    position: fixed;
    right: -300px;
    width: 300px;
    z-index: 9999;
    top:40%;
    transition: 500ms;
}

.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    right: 0 !important;
}

.related.products li.product {
    box-shadow: none !important;
    border: none !important;
}

/*List product layout*/
.list-layout li {
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
    border-bottom: 1px solid #eaeaea;
    padding: 25px 0px !important;
    transition: all 500ms;
}

.list-layout li .row {
    margin: 0 -5px
}

.list-layout li:hover {
    /*box-shadow:0 0 10px rgba(0, 0, 0, 0.3);*/
    cursor: pointer;
}

.list-layout li .woo-wrapper-thumb {
    position: relative;
    padding: 0 5px
}

.list-layout li .woo-wrapper-thumb img {
    width: 100%;
}

.list-layout li .woo-wrapper-thumb a {
    height: 100%;
    width: 100%;
    display: block;
}

.list-layout li .woo-wrapper-info h3, .woocommerce ul.products.list-layout  li.product h3 {
    padding: 5px 0;
    font-weight: 400;
    margin: 0;
    font-size: 26px;
}

.list-layout li .woo-wrapper-info .item-title {
    width: 100%;
    display: inline-block;
    line-height: 30px;
}

.list-layout li .woo-wrapper-info .price {
    padding-right: 30px;
    float: left;
    display: inline-block;
}

.list-layout li .woo-wrapper-info .price .amount {
    color: #000;
    font-size: 20px;
    display: block;
    font-weight: 400;
}

.list-layout li .woo-wrapper-info .star-rating {
    margin: 15px 0 0
}

.list-layout li .woo-wrapper-info .price {
    width: 100%;
    display: block;
    padding: 0
}

.list-layout li .woo-wrapper-info .price del {
    margin-right: 20px;
    display: inline-block !important;
}

.list-layout li .woo-wrapper-info .price del span.amount {
    color: #666 !important;
    position: relative;
    padding: 0 5px;
    font-size: 16px;
}

.list-layout li .woo-wrapper-info .price del span.amount:after {
    position: absolute;
    width: 100%;
    background: #666 !important;
    top: 50%;
    left: 0;
    content: '';
    height: 1px;
}

.list-layout .price ins {
    display: inline-block;
}

.list-layout .woo-wrapper-info p {
    padding: 5px 0;
    margin: 0;
}

.button.add_to_cart_button, .single_add_to_cart_button {
    background: #000;
    padding: 10px 15px 10px 40px !important;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.list-layout li .woo-wrapper-thumb .add_to_wishlist{
    width: 40px;
    height: 40px;
    text-align: center;
}
.list-layout li .woo-wrapper-thumb .add_to_wishlist i {
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    margin: 0 !important;
}
.products.list-layout {
    display: inline-block;
    width: 100%;
}

.products.list-layout .button {
    margin-top: 10px !important;
}

.add_to_cart_button:hover, .single_add_to_cart_button:hover {
    background: #666;
    color: #fff;
}

.add_to_cart_button:before, .single_add_to_cart_button:before {
    height: 30px;
    width: 30px;
    display: block;
    color: #fff;
    position: absolute;
    left: 5px;
    font-size: 22px;
    top: 5px;
}

.products.list-layout .add_to_cart_button:before {
    top: 8px !important;
    left: 4px !important;
}

.single_add_to_cart_button::before {
    top: 8px
}

.list-layout .woocommerce-review-link {
    color: #a4a4a4;
}

.list-layout .woocommerce-review-link:hover {
    color: #333 !important;
}

.list-layout .woocommerce-review-link:hover > span {
    color: #333;
}

.pageview .pageviewitem {
    padding: 5px;
    border: 1px solid #B7B7B7;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    line-height: 18px;
}

.pageview .pageviewitem.active, .pageview .pageviewitem:hover {
    color: #fff;
    background: #B7B7B7;
    cursor: pointer;
}

.pageview .pageviewitem.active i, .pageview .pageviewitem:hover > i {
    color: #fff;
}

.ordergroup {
    text-align: left;
    height: 40px;
    line-height: 40px;
}

.woo-opt-page {
    padding-bottom: 20px;
}

.products.row {
    margin: 0 -10px
}

.products li img {
    width: 100%;
    height: auto;
}

.product-sort-description {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}

@media (min-width: 480px) and (max-width: 768px) {
    .woo-category-page .grid-layout .col-xs-12, .wrapper-breadcrumb .col-xs-12, .related.products .col-xs-12 {
        width: 50% !important;
    }

    .ordergroup {
        text-align: center;
        height: auto;
    }
}

@media (max-width: 768px) {
    .ordergroup {
        height: auto;
        text-align: center;
    }

    .woocommerce-result-count, .woocommerce-ordering {
        display: block;
        float: none;
    }

    .woocommerce-ordering {
        max-width: 300px;
        margin: 0 auto !important;
    }

    .pageview {
        padding: 10px 0 0
    }
}

@media (max-width: 768px) {
    .entry-summary {
        padding-top: 20px;
    }
}

.grid-layout .link-product {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.stock {
    padding: 10px 0;
    color: #eb340a;
    border-top: 1px solid #EAEAEA;
    margin: 0;
}

.product_meta {
    border-top: 1px solid #EAEAEA;
}

/* Custom css for attribute of detail product*/
.wrapper-woo-attr {
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
}

.title-attr {
    width: 30%;
    color: #000;
    display: inline-block;
}

.product-attr {
    display: inline-block;
    width: 60%;
    color: #000;
}

.product-attr p {
    margin: 0;
    color: #333;
}

.shop_attributes {
    display: block;
    width: 100%;
    padding-top: 10px;
}

.product_type_simple, .added_to_cart {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background: #000;
    padding: 10px 20px;
    display: inline-block;

}
.added_to_cart {
    margin-top: 10px;
}
.group-grid-button .added_to_cart{
    visibility: hidden;
    display: none;
}
.product_type_simple:hover, .added_to_cart:hover {
    background: #666;
    color: #fff;

    cursor: pointer;
}

/*Account page*/
.myaccount_user strong {
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
}

.myaccount_user a:hover:after {
    display: block;
    width: 100%;
    left: 0;
}

.wrapper-account-page h2, .wrapper-account-page .title h3 {
    border-bottom: 1px solid #EAEAEA;
    width: 100%;
    display: inline-block;
}

.wrapper-account-page h2 span, .wrapper-account-page .title h3 span {
    border-bottom: 1px solid #333;
    padding: 5px;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #333;
}

.edit {
    padding: 8px 20px;
    border: 1px solid #333;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
}

.edit:hover {
    background: #333;
    color: #fff;
}

.wrapper-account-page address {
    padding: 5px 0;
    color: #333;
}

.woocommerce legend {
    margin: 10px 0 0;
    padding: 5px 0;
}

.woocommerce p input.button {
    background: none;
    border: 4px solid #333;
    border-radius: 0;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 0 0 3px
}

.woocommerce p input.button:hover {
    color: #fff;
    background: #333;
}

.woocommerce > h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.woocommerce form .form-row label.inline {
    margin-left: 10px;
}

/*Css for yith wishlist*/
.entry-summary .yith-wcwl-add-to-wishlist {
    display: inline-block;
    height: 35px;
    margin: 0 10px 0 0;
    line-height: 35px;
    text-align: center;
    float: left;
}

.entry-summary .yith-wcwl-add-to-wishlist a:hover i {
    background: #000;
}

.entry-summary .yith-wcwl-add-to-wishlist i {
    font-size: 22px;
    color: #fff;
    margin: 0 5px 0 0;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    background: #b7b7b7;
}

.entry-summary .yith-wcwl-add-to-wishlist a {
    display: block;
    line-height: 35px;
    text-align: center;
    border-radius: 0 !important;
}

.entry-summary .product_meta {
    margin: 10px 0 0;
    padding: 10px 0;
    width: 100%;
    display: inline-block;
}

.compare.button {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding-left: 40px;
    position: relative;
    float: left;
}

.compare.button:before {
    background: #b7b7b7;
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 20px;
    content: '\f080';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    transition: 500ms;
}

.compare.button:hover:before {
    background: #000;
}

.cboxIframe .page h1 {
    color: #fff !important;
}

.product_title {
    color: #000;
}

/*Related product slider*/
.related.products {
    position: relative;
}

.related .owl-controls {
    position: absolute;
    top: -43px;
    right: 0;
}

.related .owl-controls .owl-buttons > div {
    width: 20px;
    height: 20px;
    background: none;
    border-radius: 0;
    position: relative;
    padding: 0;
    margin: 0 5px 0 0 !important;
    background: #e1e4e7
}

.related .owl-controls .owl-buttons > div:before {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    font-size: 20px;
    color: #333;
    position: absolute;
    top: 0%;
    left: 0;
    font-family: FontAwesome;
}

.related .owl-controls .owl-buttons div.owl-next:before {
    content: '\f105 ';
}

.related .owl-controls .owl-buttons div.owl-prev:before {
    content: '\f104';
}

.related .owl-controls .owl-buttons > div:hover:before {
    color: #fff;
}

.related .owl-controls .owl-buttons > div:hover {
    background: #000;
}

.caroufredsel_wrapper {
    margin: 0 auto !important;
    transition: none !important;
}

@media (max-width: 768px) {
    .caroufredsel_wrapper, .yith_magnifier_gallery {
        width: auto !important;
        max-width: 150px !important;
        text-align: center !important;
    }

    .yith_magnifier_gallery li {
        display: inline-block !important;
        float: none !important;
        margin: 0 auto
    }
}

.yith_magnifier_gallery li {
    padding: 5px 3px;
}

.yith_magnifier_gallery {
    width: auto !important;
}

.yith_magnifier_loading {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0 !important;
    right: 0;
    display: block;
    z-index: 9 !important;
    transition: all 300ms;
}

.images {
    position: relative;
}

.images > a {
    width: 75%;
    display: block;
    float: right;
}

@media (max-width: 768px) {
    .price_slider_wrapper {
        padding-top: 20px;
    }
}

.woocommerce .product a span.onsale {
    width: auto !important;
    background: #fff !important;
    border-radius: 0 !important;
    color: #000;
    margin: 0 !important;
    color: #000;
    padding: 10px 20px;
    position: absolute;
    top: 10px !important;
    width: 80px;
    line-height: 20px;
}

@media (min-width: 980px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        margin: 0;
        width: 25%;
        padding: 1%
    }

    .vc_column_container .columns-4 .products {
        margin: 0 -2%
    }
    .woo-category-page .col-md-12 .vc_row{
        margin:0
    }
}
@media (max-width: 980px) and (min-width: 768px){
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        margin: 0;
        width: 33%;
    }
    .woo-category-page .col-md-12 .vc_row{
        margin:0 -25px !important;
    }
    .vc_column_container .columns-4 .products {
        margin: 0
    }
    #right-sidebar{
        margin-top: 30px;
    }
}
@media (max-width: 480px) {

    .woo-category-page .columns-3 ul.products.grid-layout li.product,
    .woo-category-page .columns-4 ul.products.grid-layout li.product,
    .woo-category-page .columns-3 ul.products.grid-layout li.product {
        width: 100% !important;
    }
}
.woo-category-page .col-sm-9  .vc_row{
    margin:0 -15px
}
.woo-category-page .col-md-12 .vc_row{
    margin:0 -2px
}
.woocommerce ul.products li.product{
    padding:10px;
    margin:0
}
.button,.btn{
    transition:  all 500ms;
}
.button i{
    transition: 500ms;
}
.woocommerce ul.products li.product .button {
    color: #fff;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    border-radius: 0;
    text-align: center;
}

.button.product_type_simple:not(.add_to_cart_button) {
    text-align: center;
   /* padding: 10px 15px !important;*/
}

.woocommerce .star-rating span::before, .woocommerce .star-rating::before {
    content: '' !important;
}

.star-rating {
    margin: 0 auto !important;
    width: 75px !important;
}

.content-cart > p {
    margin-bottom: 0;
}

.woocommerce ul.products li.product .button.add_to_cart_button {
    z-index: 999;
}

.mask-link {
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
}

.woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after {
    left: 18px;
    position: absolute;
    top: 10px;
    margin: 0 !important;
}

.woocommerce-shipping-fields .checkbox {
    display: inline-block;
    color: #000;
    font-weight: 400;
}

#ship-to-different-address {
    margin-bottom: 0;
}

.woocommerce-cart .woocommerce-message {
    border-left: none !important;
    box-shadow: none;
    z-index: 9;
}

.list-layout li {
    width: 100% !important;
}

.list-layout li .button.add_to_cart_button.product_type_simple {
    height: 40px;
    line-height: 20px;
    font-size: 12px;
}

.button.product_type_simple:hover, .added_to_cart.wc-forward:hover {
    background: #666 !important;
}

.list-layout li .added_to_cart.wc-forward {
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    padding: 10px !important;
}

.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    width: 33.3%;
}

.woocommerce.columns-3 {
    margin: 0 -10px
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border-radius: 0 !important;
}

.form-row .button {
    margin: 0 !important;
}

#billing_postcode_field {
    float: left !important;
    width: 100% !important;
}

.form-row .input-text {
    height: 40px;
}

.woocommerce .woocommerce-error::before, .woocommerce .woocommerce-info::before, .woocommerce .woocommerce-message::before {
    display: none;
}

.woocommerce-page.columns-2 ul.products li.product, .woocommerce.columns-2 ul.products li.product {
    width: 50%;
}

.woocommerce.columns-2 {
    margin: 0 -20px
}

.checkout_coupon, .woocommerce .login, .payment_box {
    transition: 0ms !important;
}

.woocommerce-checkout-review-order-table .product-total, .woocommerce-checkout-review-order-table tfoot td {
    text-align: right;
    padding-right: 0 !important;
}

.woocommerce-checkout-payment {
    background: none !important;
}

.woocommerce-checkout #payment div.payment_box {
    background: #f5f5f5;
}

.woocommerce-checkout #payment div.payment_box::after {
    border-color: transparent transparent #f5f5f5;
}

h3.title {
    padding: 8px 0;
    text-transform: uppercase;
}

.payment_methods.methods, .place-order {
    padding: 15px 0 !important;
}

@media (max-width: 768px) {

}

.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: none;
}

@media (max-width: 1024px) {
    .thumbnails.slider {
        width: 20%;
    }

    #slider-prev {
        top: 0px
    }

    #slider-next {
        bottom: 0px
    }

    .thumbnails.slider {
        padding: 30px 0
    }
}

@media (max-width: 320px) {
    .thumbnails.slider {
        padding: 20px 0
    }
}

.cart_list.product_list_widget {
    padding: 5px 0
}

.cart_list.product_list_widget > li {
    display: inline-block;
}

.mini-cart-img {
    width: 25%;
    display: block;
    float: left;
}

.mini-cart-img img {
    max-width: 100%;
    height: auto;
}

.cart-item-detail {
    width: 65%;
    display: block;
    float: left;
    padding: 0 5px;
}

.cart-item-detail .quantity .amount {
    background: none !important;
    padding: 0;
    display: inline-block;
}

.cart-item-detail .quantity {
    color: #000;
}

#topcart .total {
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

#topcart .total .amount {
    float: right;
    padding: 0;
}

#topcart .total strong {
    color: #000;
}

#topcart .cart_list.product_list_widget {
    max-height: 300px;
    width: 260px;
    overflow: hidden;
    margin: 0 !important;
    position: relative;
    padding-bottom: 30px;
}

.remove {
    font-size: 30px;
}

.remove:hover {
    color: #ccc;
}

/* wrapper-product-option */
.list-layout .wrapper-product-option {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px
}

.list-layout .wrapper-product-option .button {
    padding: 0px !important;
    width: 40px !important;
    display: inline-block !important;
    overflow: hidden !important;
    margin: 0 5px !important;
    height: 40px !important;
    border-radius: 0;
    transition: 500ms;
    opacity: 0;
    z-index: -1;
    transform: translateY(80px);
}

.list-layout .wrapper-product-option .button:before {
    position: relative !important;
    height: 40px !important;
    display: block !important;
    text-align: center;
    color: #fff;
    transition: 500ms;
}
.wrapper-product-option .yith-wcqv-button:before, .wrapper-product-option .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before, .wrapper-product-option .yith-wcwl-wishlistaddedbrowse a:before, .wrapper-product-option .yith-wcwl-add-to-wishlist a.button:before {
    font-family: FontAwesome;
    font-size: 22px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    transition: 500ms;
    font-weight: normal !important;
}
.list-layout .yith-wcqv-button:hover:before{
    background: #000;
}
.grid-layout .wrapper-product-option .yith-wcqv-button{
    width: 40px;
    height: 40px;
    overflow: hidden;
    padding:0 !important;
}
.grid-layout .wrapper-product-option .yith-wcqv-button:before{
    width: 40px;
    display: block;
}
.wrapper-product-option .yith-wcqv-button:before {
    content: '\f06e ';
}

.wrapper-product-option .yith-wcwl-add-to-wishlist {
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    margin-top: 0;
}

.wrapper-product-option .yith-wcwl-add-to-wishlist a.button {
    margin: 0 !important;
    border-radius: 0 !important;
}

.wrapper-product-option .yith-wcwl-add-to-wishlist a.button:before {
    content: '\f08a';
}

.wrapper-product-option .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse span, .wrapper-product-option .yith-wcwl-wishlistaddedbrowse span {
    display: none;
}
.wrapper-product-option .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a, .wrapper-product-option .yith-wcwl-wishlistaddedbrowse a{
    height: 40px !important;
    width: 40px;
    display: block;
    text-align: center;
}
.wrapper-product-option .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before, .wrapper-product-option .yith-wcwl-wishlistaddedbrowse a:before {
    content: '\f08a';
    color: #fff;
}
.wrapper-product-option .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a, .wrapper-product-option .yith-wcwl-wishlistaddedbrowse a{
    background: #000 !important;
}
#yith-quick-view-content .single_add_to_cart_button{
    border-radius: 0;
    background: #000;
    height: 40px;
}
#yith-quick-view-content .single_add_to_cart_button:hover{
    background: #666;
}
#yith-quick-view-content .single_add_to_wishlist{
    background: none !important;
    padding: 0 !important;
    color: #fff;
    font-weight: 400;
}
.add_to_wishlist{
    transition: 500ms;
}
.list-layout .woo-wrapper-thumb{
    overflow: hidden;
}
.woo-wrapper-thumb:hover .wrapper-product-option .button{
    transform: translateY(0px);
    opacity: 1;
    z-index: 99;
}
.list-layout li .woo-wrapper-thumb:hover .button.product_type_simple{
    transition-delay: 0ms;
}
.woo-wrapper-thumb .product_type_simple{
    transition-delay: 400ms;
}
.woo-wrapper-thumb:hover .yith-wcqv-button,  .list-layout li .woo-wrapper-thumb .button.product_type_simple{
    transition-delay:400ms;
}
.woo-wrapper-thumb .yith-wcwl-add-to-wishlist{
    transform: translateY(80px);
    transition: 500ms;
    transition-delay: 200ms;
}
.woo-wrapper-thumb:hover .yith-wcwl-add-to-wishlist{
    transform: translateY(0px);
    transition-delay: 200ms;
}
.woo-wrapper-thumb .yith-wcwl-add-to-wishlist a{
    transform: translateY(0px) !important;
    opacity: 1 !important;
    width: 40px !important;
    display: block;
}
.woo-wrapper-thumb .yith-wcwl-add-to-wishlist a, .wrapper-product-option .button, .list-layout li .woo-wrapper-thumb .yith-wcwl-add-to-wishlist {
    color: #fff;
    background: #666;
    float: left;
}
.woo-wrapper-thumb .yith-wcwl-add-to-wishlist a:before{
    color: #fff;
    transition: 500ms;
    width: 40px;
    display: block;
}
.woo-wrapper-thumb .yith-wcwl-add-to-wishlist a:hover{
    background: #000;
}
.woo-wrapper-thumb .yith-wcwl-add-to-wishlist a:hover:before{
    background: none !important;
}
.woo-wrapper-thumb .clear{
    clear: none;
}
.wrapper-product-option .button:hover{
    background: #000 !important;
}
.wrapper-product-option .button:hover:before, .wrapper-product-option .button:hover, .woo-wrapper-thumb .yith-wcwl-add-to-wishlist a:hover:before, .wrapper-product-option  .added:before{
    color: #fff !important;
}
.wrapper-product-option  .added_to_cart{
    display: none !important;
}
.wrapper-product-option .add_to_cart_button.added{
    background:  #000 !important;
}
.wrapper-product-option .button.product_type_simple:not(.add_to_cart_button):before{
    content: '\f08e';
    font-family: FontAwesome;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    transition: 500ms;
}
.woocommerce .star-rating{
    height: 12px !important;

}
#yith-quick-view-content div.product .woocommerce-product-rating{
    margin-bottom: 0 !important;
    padding:5px 0
}
#yith-quick-view-content div.product .yith-wcwl-add-to-wishlist a{
    color: #000;
}
#yith-quick-view-content .images{
    width: 50% !important;
}
#yith-quick-view-content .images>a{
    width: 100%;
}

#yith-quick-view-content  .onsale{
    position: absolute;
    background: #fff;
    color: #000;
    border-radius: 0;
    left: 0;
    top: 10px;
    padding: 10px 20px;
    z-index: 999;
}
.yith-wcqv-main{
    padding:0 !important;
}
.yith-wcqv-main .images{
    margin:0 !important;
}
.yith-wcqv-main .summary{
    margin:0 !important;
    padding:10px !important;
    width: 50% !important;
}
#yith-quick-view-modal .yith-wcqv-main{
    box-shadow: none !important;
}
#yith-quick-view-modal .yith-wcqv-main .summary form.cart{
    margin-bottom: 0 !important;
}
#yith-quick-view-close{
    top: 0;
    right: 0;
    background: #666;
    border: none !important;
    color: #666;
    padding:5px;
    font-size: 22px;
    height: 30px;
    width: 30px;
    position: relative;
    display: block;
}
.yith-wcqv-head {
    position: absolute;
    right: 0;
    top: 0;
}
#yith-quick-view-close:hover{
    border: none;
    background: #000;
    color: #000;
}
#yith-quick-view-close:before, #yith-quick-view-close:after{
    content: '';
    height: 2px;
    width: 80%;
    display: block;
    background: #fff;
    position: absolute;
    top: 13px;
    left: 4px;
}
#yith-quick-view-close:before{transform: rotate(45deg)}
#yith-quick-view-close:after{transform: rotate(-45deg)}
.grid-layout .product_type_simple{
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    padding: 0 !important;
    text-align: center;
    line-height: 40px;
}
.grid-layout .product_type_simple:before{
    display: block;
    top: 0;
    left: 0;
    position: relative;
    height: 40px;
    width: 38px;
    line-height: 40px;
    padding: 0 !important;
    font-size: 22px;
}
.grid-layout .wrapper-product-option {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.grid-layout .wrapper-product-option  .clear{
    clear: none !important;
    display: none;
}
.grid-layout .wrapper-product-option .button, .grid-layout .wrapper-product-option .yith-wcwl-add-to-wishlist{
    display: inline-block;
    float: none !important;
    margin-left: 3px;
}
.grid-layout  .add_to_wishlist.single_add_to_wishlist{
    width: 40px;
}
/*Wishlist table*/
.wishlist_table td{
    text-align: left !important;
}
.wishlist_table .product-name a{
    font-size: 16px;
}
.wishlist_table  .product-price del .amount{
    font-size: 14px;
    color: #666;
    text-decoration: line-through;
    padding: 0 5px;
}
.wishlist_table  .product-price ins .amount, .wishlist_table  .product-price .amount{
    font-size: 16px;
    color: #000;
    padding: 0 5px;
}
.wishlist_table  .product-stock-status{
    font-size: 14px;
}
.wishlist_table .product-add-to-cart a.button.product_type_simple{
    border-radius: 0;
    background: #000 ;
}
.wishlist-title{
    width: 100%;
    margin-bottom: 20px;
}
.wishlist-title h2{
    padding:5px 0;
    width: 100%;
    border-bottom: 2px solid #ccc;
    position: relative;
}
.wishlist-title h2:after{
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 60px;
    height: 2px;
    content: '';
    background: #000;
    display: block;
}
.wishlist_table .nobr{
    color: #000;
}

.woocommerce ul.products li.product a img{
    margin: 0;
}

.woocommerce ul.grid-layout li.product a.product_type_simple.button{
    overflow: hidden !important;
}
.woocommerce ul.grid-layout li.product  .add_to_wishlist.single_add_to_wishlist{
    padding:0 !important;
}
.woocommerce ul.grid-layout li.product  .add_to_wishlist.single_add_to_wishlist:before{
    width: 40px;
    display: block;
}
.woo-category-page .vc_row .list-layout{
    padding:0 10px !important;
}
.wrapper-products-shortcode{
    position: relative;
}
.wrapper-products-shortcode .owl-controls{
    position: absolute;
    top: -60px;
    right:5px;
}
.wrapper-products-shortcode .owl-theme .owl-controls .owl-buttons div{
    background: #e1e4e7;
    border-radius: 0;
    transition: all 300ms;
    font-size: 16px;
}
.wrapper-products-shortcode .owl-theme .owl-controls .owl-buttons div i{
    color: #6c767d;
    font-size: 16px;
}
.wrapper-products-shortcode .owl-theme .owl-controls .owl-buttons div:hover{
    background: #000;
}
.wrapper-products-shortcode .owl-theme .owl-controls .owl-buttons div:hover i{
    color: #fff;
}
.wrapper-products-shortcode .title span{
    color: #000;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.bestselling .product, .onsale .product {
    padding:15px 0 !important;
    border-bottom: none;
}
.bestselling .product .onsale, .onsale .product .onsale, .bestselling .product .wrapper-product-option, .onsale .product .wrapper-product-option{
    visibility: hidden;
}
.wrapper-products-shortcode .bestselling .product .woo-wrapper-info h3 a, .wrapper-products-shortcode .onsale .product .woo-wrapper-info h3 a{
    font-size: 16px;
    display: block;
    color: #727272;
}
.wrapper-products-shortcode .bestselling .product .woo-wrapper-info h3 a:hover, .wrapper-products-shortcode .onsale .product .woo-wrapper-info h3 a:hover{
    color: #000;
}
.wrapper-products-shortcode .bestselling .product .woo-wrapper-info .price span.amount, .wrapper-products-shortcode .onsale .product .woo-wrapper-info span.amount{
    font-size: 14px;
    display: inline;
    color: #727272;
    padding-top:0px;

}
.wrapper-products-shortcode .bestselling .product .woo-wrapper-info  .item-title, .wrapper-products-shortcode .onsale .product .woo-wrapper-info  .item-title{
    line-height: 25px;
    padding-top: 5px;
}
.wrapper-products-shortcode .bestselling .product .woo-wrapper-info .price del, .wrapper-products-shortcode .onsale .product .woo-wrapper-info .price del{
    width: 100%;
    display: inline-block;
}

.wrapper-products-shortcode .owlCarousel{
    margin:0 -10px
}
.bestselling, .product.onsale{
    margin:0
}
.bestselling .woocommerce-product-rating, .onsale .woocommerce-product-rating {
    display: inline-block;
    margin: 10px 0 0;
}
.bestselling .woocommerce-product-rating .woocommerce-review-link, .onsale .woocommerce-product-rating .woocommerce-review-link{
    visibility: hidden;
}
.products-carousel-list li{
    display: inline-block;
}
.wrapper-products-shortcode .list-layout .woo-wrapper-thumb img{
    width: auto;
    height: auto;
}
.wrapper-products-shortcode .owl-wrapper .owl-item li.product{
    width: 100%;
}
/*----for zoom---*/
#rit-wrapper-main-img .onsale {
    left: 25px; }
#rit-wrapper-main-img .woocommerce-main-image {
    display: block;
    overflow: hidden; }

#rit-wrapper-list-thumbs {
    padding-right: 0 !important; }
#rit-wrapper-list-thumbs .list-thumbnails {
    width: 100%; }
#rit-wrapper-list-thumbs .list-thumbnails li {
    width: 100%;
    margin: 0;
    display: inline-block; }
#rit-wrapper-list-thumbs .list-thumbnails li a {
    display: block;
    width: 100% !important;
    margin: 0 !important; }
#rit-wrapper-list-thumbs .list-thumbnails li a img {
    width: 100%; }

.wrapp-images .caroufredsel_wrapper {
    height: 100% !important; }
.wrapp-images .thumbnails {
    height: 100%;
    width: 100%;
    display: block;
    position: relative; }
.wrapp-images .thumbnails .slider-control {
    width: 100%;
    height: 30px;
    left: 0;
    background: rgba(255,255,255,0.9);
    text-align: center;
    display: block;
    position: absolute;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms; }
.wrapp-images .thumbnails .slider-control i {
    font-size: 24px;
    line-height: 30px;
    color: #000; }
.wrapp-images .thumbnails .slider-control:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.8);
    color: #fff; }
.wrapp-images .thumbnails .slider-control:hover i {
    color: #fff; }
.wrapp-images .thumbnails #slide-up {
    top: 0; }
.wrapp-images .thumbnails #slide-down {
    bottom: 0;
}
.wrapp-images .thumbnails.slider {
    padding: 20px 50px;
    overflow-y: hidden; }
.wrapp-images .thumbnails.slider li {
    padding: 5px !important;
    display: inline-block; }
.wrapp-images .thumbnails.slider li a {
    margin: 0;
    display: block; }
.wrapp-images .thumbnails.slider #slider-prev, .wrapp-images .thumbnails.slider #slider-next {
    background: none;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0;
    transform: translateY(-50%); }
.wrapp-images #rit-wrapper-main-img {
    position: relative; }
.attachment-shop_single{
    height: auto;.sub-menu
}
