.accent, .accent-color { color: #353535; }
a{ color: #353535; }
a:hover{ color: #353535; }
h1{ color: #353535; }
h2{ color: #353535; }
h3{ color: #353535; }
h4{ color: #353535; }
h5{ color: #353535; }
h6{ color: #353535; }

body{
       font-family: "Roboto";
       font-size: 14px;
       line-height: 20px;
       background-color: #ffffff;
}

.site-header{
       background-color: transparent;
       color: #353535;
}
.site-header a{ color: #353535; }
.site-header a:hover{ color: #353535; }

#main-navigation li a{ font-size: 14px }

#logo{
       padding-top: 0;
       padding-bottom: 0;
}
#logo img{
       height: 51px;
}

.site-footer{
       background-color: transparent;
       color: #353535;
}
.site-footer a{ color: #353535; }
.site-footer a:hover{ color: #353535; }

#coppy-right{
       background-color: transparent;
       color: #353535;
}
#coppy-right a{ color: #353535; }
#coppy-right a:hover{ color: #353535; }