/*
Theme Name: ZEST SHOP toulouse theme
Theme URI: http://zestore.fr
Description: Theme for the street shop ZEST based in Toulouse, FR.
Author: ALPHA XXIII
Author URI: http://alphaxi.fr
Template: ri-grus
Version: 1.1.8
*/


@import url("../ri-grus/style.css");

  .wrapper-breadcrumb {
    background: url("http://zestore.fr/wp-content/uploads/2016/01/test-4.png") repeat scroll 0 0;
    display: block;
    margin-bottom: 30px;
background-repeat: repeat-x;
}

@font-face {
    font-family: 'jo_bisregular';
    src: url('jobis-regular.eot');
    src: url('jobis-regular.eot?#iefix') format('embedded-opentype'),
         url('jobis-regular.woff2') format('woff2'),
         url('jobis-regular.woff') format('woff'),
         url('jobis-regular.ttf') format('truetype'),
         url('jobis-regular.svg#jo_bisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.wrapper-top-nav .nav-menu a, #top-nav div > ul > li > a, #top-nav .sub-menu li a {
	 font-family: 'jo_bisregular';
	 font-size: 17px !important;
	 }
	 
.breadcrumb-portfolio-page h3.page-title {
    font-size: 25px !important;
    font-weight: normal;
    line-height: 15px;
    text-transform: uppercase;
    font-family: 'jo_bisregular';

}

.autotyping p {
    letter-spacing: 0;
    line-height: 30px;
    text-align: justify;
}

#top-about-2 .img-w-border::after {
    border: 0px solid #000;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 100%;
}
	 

#map {
-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
	cursor: pointer;
}

#map:hover {
	
   -webkit-filter: sepia(50%);
url("http://zestore.fr/wp-content/uploads/2016/01/footerr.jpg");

}

.site-footer {
    background: #000;
    color: #ffffff;
}

#copy-right {
color: #fff;
 background: #000
}

.footer-page .title {
color: #fff;
}

#searchbtnhead i {
    color: #FFFFFF;
    font-size: 20px;
}

#social img {
display: inline-block;
margin-left: 0auto;
margin-right: 0auto;
text-align: right;
}

#social {
display: inline-block;
float: right;
margin-right: -65px;
margin-left: 30px;

}


.breadcrumbs .trail-browse, .breadcrumbs .trail-items, .breadcrumbs .trail-items li {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    font-family: bebas neue;
    margin: 0;
    padding: 0;
    text-indent: 0;
   font-family: "jo_bisregular";
    font-size: 20px !important;
    font-weight: normal;
    line-height: 15px;
    text-transform: uppercase;
color: #000;
margin-bottom: 10px;
}

.footer-page .title {
    color: #fff;
    font-family: "jo_bisregular";
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0 15px;
    text-transform: uppercase;
}

/*Css for mobilenav button*/
.mobile-nav {
    width: 25px;
    height: 40px;
    display: none;
    padding-top: 5px;
    transition: 300ms;
}

@media (max-width: 768px) {
    .mobile-nav {
        display: inline-block;
	color: #fff;
    }
}
.enable-canvas .mobile-nav{
    display: block;
    float: right;
}
.enable-canvas #searchbtnhead {
    right: 50px;
}
.enable-canvas #topcart{
    right:90px
}
.enable-canvas #top-nav {
    margin-top: 0 !important;
    float: right;
    padding: 5px 15px;
    text-align: right;
    z-index: 8;
}
.enable-canvas  #top-nav .wrapper-top-nav{
    visibility: hidden;
}
.mobile-nav span {
    width: 100% !important;
    height: 2px;
    background: #fff;
   
    display: block;
    position: relative;
    margin: 13px 0
}

.mobile-nav span:before, .mobile-nav span:after {
    content: '';
    background: #fff;
    width: 100%;
    height: 2px;
    display: block;
    left: 0;
    position: absolute;
    transition: 300ms;
    
}

.mobile-nav span:before {
    top: -10px;
}

.mobile-nav span:after {
    bottom: -10px;
}

.mobile-nav:hover span:before, .mobile-nav:target span:before, .mobile-nav.active span:before {
    transform: rotate(-45deg);
    width: 60%;
    top: -6px;
    left: -1px;

}

.mobile-nav:hover span:after, .mobile-nav:target span:after, .mobile-nav.active span:after {
    transform: rotate(45deg);
    width: 60%;
    bottom: -6px;
    left: -1px;
}
.mobile-nav:hover, .mobile-nav.active {
    transition-delay: 300ms;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -mz-transform: translateX(-10px);
}
#mask-mobile-nav{
    width: 100%;height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background: rgba(0,0,0,0.3);
    visibility: hidden;
    transition: 300ms;
}
#mask-mobile-nav.active{
    visibility: visible;
    z-index: 99999;
}
.control-mobile-nav span {
    width: 30px;
    display: block;
    height: 2px;
    background: #fff;
    margin: 19px 0;
    position: relative;
}

.control-mobile-nav {
    padding: 0 5px
}

.control-mobile-nav span:after, .control-mobile-nav span:before {
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all 250ms;
    position: absolute;
    right: 0;
    content: '';
    display: block;
}

.control-mobile-nav span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 0px;
}

.control-mobile-nav span:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    bottom: 0px;
}

.control-mobile-nav span {
    background: #1f1f1f;
}
.navmobile .menu-mainmenu-container{
    width: 250px;
}

#logo img {
    height: 60px;
    margin-top: 25px;
}


.tparrows.custom {
    background: none;
    border: 3px solid #fdfdfd;
    height: 50px !important;
    width: 50px !important;
    transition: 500ms;
}

.tparrows.custom:hover:after {
    color: #000;
}

.tparrows.custom:hover {
    border-color: #000;
    background: #000 !important;
}
.custom.tparrows{
    background: none !important;
}
.tparrows.custom:before{
    color: #fdfdfd !important;
    font-weight: bold;
    font-size: 22px !important;
    line-height: 45px !important;
}
.tparrows.custom:hover:before{
    color: #fff !important;
}