/*
Theme Name: ZEST SHOP toulouse theme
Theme URI: https://zestore.fr
Description: Theme for the street shop ZEST based in Toulouse, FR.
Author: ALPHA XXIII & Studio Dot
Author URI: https://alphaxi.fr & https://studio-dot.fr;
Template: ri-grus
Version: 1.1.8
*/


@import url("../ri-grus/style.css");

  .wrapper-breadcrumb {
      background: white;
    display: block;
    margin-bottom: 30px;
}

@font-face {
    font-family: 'jo_bisregular';
    src: url('jobis-regular.eot');
    src: url('jobis-regular.eot?#iefix') format('embedded-opentype'),
         url('jobis-regular.woff2') format('woff2'),
         url('jobis-regular.woff') format('woff'),
         url('jobis-regular.ttf') format('truetype'),
         url('jobis-regular.svg#jo_bisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.wrapper-top-nav .nav-menu a, #top-nav div > ul > li > a, #top-nav .sub-menu li a, ul#primary-menu > li >a {
	 font-family: 'jo_bisregular' !important;
	 font-size: 17px !important;

	 }
     .breadcrumbs > li, .breadcrumbs > li > a, .voir_article a{
        font-family: 'jo_bisregular' !important;
        font-size: 20px !important;
        text-transform: uppercase;

     }
     .cart-collaterals h3, .woocommerce-thankyou-order-received, header h3{
        font-family: 'jo_bisregular' !important;
        font-size: 25px !important;
        text-transform: uppercase;
     }
 .woocommerce-thankyou-order-received{
    background: #35AB35;
    display: block;
    padding : 15px;
    color:  white;
    margin-bottom: 50px;
}

@media (min-width:768px){
    .woo-category-page .product-category{
        width: 50%;
        float: left;
    }
}


.title_code_promo{
    text-align: left;
}
.cart_totals +.cart_totals{

}
/*.wpb_wrapper > .wpb_raw_code > .wpb_wrapper> .cart_totals >h2 + .wrapper_cart_totals{
    display: none;
}*/
.woocommerce-message, .form-row .terms {
    background: #EEF5BC;
}
.form-row .terms{
    width: 100%;
}
.form-row.terms{
    position: relative;
    top: -85px;

}
@media (max-width:768px){
    .form-row.terms{

    top: -105px;

    }
    li.isotope-item{
        display: block;
        position: relative !important;
        margin-bottom: 10px !important;
        left: 0 !important;
        top: 0 !important;
    }
}
@media (min-width:1300px){
    .woo-category-page, .woo-breadcrumb>.container, header .container, .freeShipping .container{
        width: 1270px;
    }
}
@media (min-width:1400px){
    .woo-category-page, .woo-breadcrumb>.container, header .container, .freeShipping .container{
        width: 1370px;
    }
    .woo-wrapper-thumb{
        padding-bottom: 20px !important;
    }
}
@media (min-width:1500px){
    .woo-category-page, .woo-breadcrumb>.container , header .container, .freeShipping .container{
        width: 1470px;
    }
}

.shop-page .grid-layout .woo-product-info{
    margin-top: -80px;

}
.shop-page .grid-layout li.product:hover .woo-product-info{
    margin-top: -10px;
}
.products li img{
    display: block;
}
li.chosen a, .widget_layered_nav a{
    margin-bottom: 5px;
}
.widget_layered_nav_filters li.chosen a::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    background-image: url('https://zestore.fr/wp-content/uploads/2016/10/cross.png') ;
    background-size : 18px 18px;
    background-position: center;
    border: 1px solid #777;
    border-radius: 2px;
}
li.chosen a::before{
    background-image: url('https://zestore.fr/wp-content/uploads/2016/10/tik.png') ;
}
.widget_layered_nav a::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 5px;

    background-size : 18px 18px;
    background-position: center;
    border: 1px solid #777;
    border-radius: 2px;
    transition: all 0.2s ease;

}
.widget_layered_nav li:hover a::before{
    background-image: url('https://zestore.fr/wp-content/uploads/2016/10/tik.png') ;
    border: 1px solid black;
    transition: all 0.2s ease;

}

.price_label {
    float: left;
    width: 50%;
}
.price_slider_amount button{
    float: right;
    margin-top: 3px;
}
@media (min-width:768px) and (max-width: 1200px){
    .shop-page .grid-layout .woo-product-info{
        margin-top: -100px;
    }
    .shop-page .grid-layout li.product:hover .woo-product-info{
      margin-top: -30px;
    }
    .shop-page .grid-layout .woo-product-info{
        height: 50%;
    }
}
@media(min-width: 1300px){
    .shop-page .grid-layout .woo-product-info{
        top: 105%;
    }
    .shop-page .grid-layout li.product:hover .woo-product-info{
        top : 80%;
    }
    .shop-page .grid-layout li.product:hover .woo-product-button{
        height : 80%;
    }
}
td.actions .calculated_shipping{
    display: none;
}
@media(min-width: 1500px){
.shop-page .grid-layout .woo-product-info{
        top : 112%;
    }
    .shop-page .grid-layout li.product:hover .woo-product-info{
        top : 87%;
    }
   .shop-page .grid-layout li.product:hover .woo-product-button{
        height : 87%;
    }
}
@media(min-width: 1680px){
.shop-page .grid-layout .woo-product-info{
        top : 115%;
    }
    .shop-page .grid-layout li.product:hover .woo-product-info{
        top : 90%;
    }
   .shop-page .grid-layout li.product:hover .woo-product-button{
        height : 90%;
    }
}
.sub-menu{
    transform: scale(1);
}
.title h2, .title{
    border-bottom: 2px solid #ccc;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px 0 15px 0 !important;
    position: relative;
}
.title h2:after, .title:after{
    position: absolute;
    width: 60px;
    height: 2px;
    background: #000;
    bottom: -2px;
    left: 0;
    content: '';
    display: block;
}
header.title{
    padding-bottom: 0 !important;
    margin-bottom: 10px;
}
.variation-pa_size p{
    position: relative;
    top :-2px;
}
.menu-produits ul li{
    display: inline-block;
}
.voir_article{
      width: 100%;
    height: 100%;
   

}
.voir_article a{

    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.voir_article a span{
    display: inline-block;
    text-align: center;
    color: white;
    border: 1px solid white;
    padding : 15px 30px 20px 30px;
    margin-top: calc(50% - 40px);
}
.voir_article a:hover span{
    color: #ECDE16;  /*yellow color*/
    border: 1px solid #ECDE16;
    padding : 15px 30px 20px 30px;
}
 .woo-category-page .product-category{
    font-family: 'jo_bisregular' !important; 
    font-size: 40px !important;
    text-transform: uppercase;
    
}


.woo-category-page .right-sidebar{
    
}
.price_slider .ui-slider-handle{
    background: #FFEF08;
}
.woo-category-page .product-category h3{
    font-size: 50px;
    width: 100%;
    text-align: center;
}
ul.breadcrumbs li.woocommerce_breadcrumb_Accueil, .cart-collaterals h2 {
    display: none;
}
ul.breadcrumbs_shop_page li.woocommerce_breadcrumb_Accueil {
    display: inline-block;
}

.shop-page #right-sidebar {
    display: none;
}
.group-grid-button {
    display: none;
}
.shop-page >.row>.col-md-9 {
    width: 100%;
}
.woo-category-page .product-category h3 mark{
    display: none;
}
.shop-page .header-woopagecat, .wrapper-product-option{
    display: none;
}
.sticker-sticky-wrapper{
    z-index: 1000 !important;
}
.bx-wrapper .bx-controls-direction a{
    z-index: 100 !important;
}
.widget_shopping_cart_content .cart_list .cart-item-detail{
    margin-top: 0px;
}
.widget_shopping_cart_content .cart_list .cart-item-detail p{
    margin-bottom: -5px;
    line-height: 15px;
}
.widget_shopping_cart_content .cart_list .cart-item-detail p a{
    color: black !important;
} 
.widget_shopping_cart_content .cart_list .cart-item-detail span.quantity{
    margin-top: 10px;
}
.widget_shopping_cart_content .cart_list .cart-item-detail p a:hover{
    color : #ECDE16 !important;
}
.widget_shopping_cart_content .cart_list .cart-item-detail dl.variation{
    height: 20px;
}
.widget_shopping_cart_content .cart_list .cart-item-detail dl.variation dt.variation-Size{
    display: inline-block;
}

.widget_shopping_cart_content .cart_list .cart-item-detail dl.variation dd.variation-Size{
    display: inline-block;
}
.widget_shopping_cart_content .cart_list .cart-item-detail dl.variation{
    margin-bottom: 5px !important;
    padding-left: 0 !important;
}
.wrapper-breadcrumb{
    margin-top: 0 !important;
    
}
@media (min-width:768px){
    .shop-page .wrapper-product-info{
        height: 318px !important;
    }
}
.amount{
    display: inline;
}

.woo-product-info h3{
display: block;
height: 23px;
overflow: hidden;
}
@media (min-width: 1200px){
.shop-page .woo-product-info h3{
display: block;
height: inherit;
overflow: hidden;

}
}

.produits_recents{
    margin-top: 50px;
    display: block;
    width: calc(100% - 20px);
    margin-left: 10px !important;
    border-top:1px solid black;
    margin-right: 10px !important;
}
.produits_recents h2{
    margin-bottom: 25px;
    position: relative;
    left: -15px;

}

.woo-product-info h3 a:hover {
    color: #ECDE16;
}

#topcart > a > span, .total-product, #topcart>a:before{
    color : white !important;
}
#topcart>a:before{
    left : 3px;
}
#topcart{
    top : 17px;
}
.menu-mainmenu-container, .breadcrumb-portfolio-page h3.page-title, h2 {
    font-size: 25px !important;
    font-weight: normal;
    line-height: 15px;
    text-transform: uppercase;
    font-family: 'jo_bisregular' !important;

}

.autotyping p {
    letter-spacing: 0;
    line-height: 30px;
    text-align: justify;
}

#top-about-2 .img-w-border::after {
    border: 0px solid #000;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 100%;
}
	
#map {
-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='https://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
	cursor: pointer;
}

#map:hover {
	
   -webkit-filter: sepia(50%);
url("https://zestore.fr/wp-content/uploads/2016/01/footerr.jpg");

}
.wrapper-thumb-cat{
display: none;
}

.site-footer {
    background: #000;
    color: #ffffff;
}

#copy-right {
color: #fff;
 background: #000
}

.footer-page .title {
color: #fff;
}

#searchbtnhead i {
    color: #FFFFFF;
    font-size: 20px;
}
@media (min-width:768px){
    #searchbtnhead{
        top: 9px;
    }
}
#social img {
display: inline-block;
margin-left: 0auto;
margin-right: 0auto;
text-align: right;
}

#social {
display: inline-block;
float: right;
margin-right: -65px;
margin-left: 30px;

}


.breadcrumbs .trail-browse, .breadcrumbs .trail-items, .breadcrumbs .trail-items li {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    font-family: bebas neue;
    margin: 0;
    padding: 0;
    text-indent: 0;
   font-family: "jo_bisregular";
    font-size: 20px !important;
    font-weight: normal;
    line-height: 15px;
    text-transform: uppercase;
color: #000;
margin-bottom: 10px;
}

.footer-page .title {
    color: #fff;
    font-family: "jo_bisregular";
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0 15px;
    text-transform: uppercase;
}

/*Css for mobilenav button*/
.mobile-nav {
    width: 25px;
    height: 40px;
    display: none;
    padding-top: 5px;
    transition: 300ms;
}

@media (max-width: 768px) {
    .mobile-nav {
        display: inline-block;
	color: #fff;
    }
    #place_order{
        margin-top: 50px !important;
    }
}
.enable-canvas .mobile-nav{
    display: block;
    float: right;
}
.enable-canvas #searchbtnhead {
    right: 50px;
}
.enable-canvas #topcart{
    right:90px
}
.enable-canvas #top-nav {
    margin-top: 0 !important;
    float: right;
    padding: 5px 15px;
    text-align: right;
    z-index: 8;
}
.enable-canvas  #top-nav .wrapper-top-nav{
    visibility: hidden;
}
.mobile-nav span {
    width: 100% !important;
    height: 2px;
    background: #fff;
   
    display: block;
    position: relative;
    margin: 13px 0
}

.mobile-nav span:before, .mobile-nav span:after {
    content: '';
    background: #fff;
    width: 100%;
    height: 2px;
    display: block;
    left: 0;
    position: absolute;
    transition: 300ms;
    
}

.mobile-nav span:before {
    top: -10px;
}

.mobile-nav span:after {
    bottom: -10px;
}

.mobile-nav:hover span:before, .mobile-nav:target span:before, .mobile-nav.active span:before {
    transform: rotate(-45deg);
    width: 60%;
    top: -6px;
    left: -1px;

}

.mobile-nav:hover span:after, .mobile-nav:target span:after, .mobile-nav.active span:after {
    transform: rotate(45deg);
    width: 60%;
    bottom: -6px;
    left: -1px;
}
.mobile-nav:hover, .mobile-nav.active {
    transition-delay: 300ms;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -mz-transform: translateX(-10px);
}
#mask-mobile-nav{
    width: 100%;height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background: rgba(0,0,0,0.3);
    visibility: hidden;
    transition: 300ms;
}
#mask-mobile-nav.active{
    visibility: visible;
    z-index: 99999;
}
.control-mobile-nav span {
    width: 30px;
    display: block;
    height: 2px;
    background: #fff;
    margin: 19px 0;
    position: relative;
}

.control-mobile-nav {
    padding: 0 5px
}

.control-mobile-nav span:after, .control-mobile-nav span:before {
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all 250ms;
    position: absolute;
    right: 0;
    content: '';
    display: block;
}

.control-mobile-nav span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 0px;
}

.control-mobile-nav span:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    bottom: 0px;
}

.control-mobile-nav span {
    background: #1f1f1f;
}
.navmobile .menu-mainmenu-container{
    width: 250px;
}

#logo img {
    height: 60px;
    margin-top: 25px;
}


.tparrows.custom {
    background: none;
    border: 3px solid #fdfdfd;
    height: 50px !important;
    width: 50px !important;
    transition: 500ms;
}

.tparrows.custom:hover:after {
    color: #000;
}

.tparrows.custom:hover {
    border-color: #000;
    background: #000 !important;
}
.custom.tparrows{
    background: none !important;
}
.tparrows.custom:before{
    color: #fdfdfd !important;
    font-weight: bold;
    font-size: 22px !important;
    line-height: 45px !important;
}
.tparrows.custom:hover:before{
    color: #fff !important;
}
#top-nav #primary-menu .sub-menu li a{
    color : #333 !important;
}
@media (min-width:995px){
    #top-nav{
    padding-right: 0 !important;
    right: 120px;
    }
}
.navmobile li a{
    text-transform: uppercase !important;
}
button.single_add_to_cart_button:before, #topcart [data-icon]:before{
   /* content:url('') ;
    display: block;
    height: 20px;
    width: 20px;
    border : 1px solid red;
*/
    background-image: url('https://zestore.fr/wp-content/uploads/2016/10/cart-icon-01.png') ;
    background-size: 25px 30px;
    display: block;
    width: 27px;
    height: 30px;
    content:"";
    margin-top: -2px;
}

li.product-category a > img
{
	/*filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);*/
	/*border: 5px solid transparent;*/
	transition: all 0.2s ease-in;
}



li.product-category:hover a > img
{
	/*filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);*/
	/*border: 5px solid #ECDE16;*/
	 transition: all 0.3s ease-out;
}
li.product-category:hover a > h3{
	color : #ECDE16 !important;
	transition: all 0.3s ease-out;
}
li.product-category a > h3{
	transition: all 0.3s ease-in;
}



/*AJOUT LORS DE LA SUPPRESSION DU MENU*/
/*HEADER*/
header {
    background: black;
    height: 74px;
    padding: 5px 0px !important;
    
}
.visible-header{
    padding: 5px 0px !important;
}

.contentPusher{
    height: 74px;
    width: 100%;
}
.mobile-nav{display: none;}

.freeShipping{
    background: #EEEE22;
    height: 45px;
    text-align: right;
    color: black;
}
.freeShipping span{
    line-height: 45px;
    color: black;
}
.inline{
    display: inline-block;
}
.inlineLink {
    width: 33.33%;
    position: absolute;
    top: 5px;
}
#citron{
    max-width: 70px;
}
.LogoLink{
    display: block;
    width: 250px;
    margin: -5px auto 0 auto;
    height: 70px;
}
#facebookIcon{
    margin-left: 5px;
}
#topcart{
    right: 39px;}
@media (max-width:768px){
    .inlineLink{
        display: none;
    }
    #topcart{
        top: 18px !important;
        z-index: 10;
        right: 15px;
        
    }
    #topcart>a, #topcart>span{
        opacity: 0.8;
    }
    .fa-search:before{
        margin-top: 21px !important;
        display: block;
    }
    .mobile-nav{
        padding-top: 12px !important;
    }
    #logo img{
        margin-top: -5px !important;
    }
    #searchbtnhead.active, #searchbtnhead{
        left: 5px;
        top: 2px;
        opacity: 0.8;
    }
    .middleLogo{
        position: relative;
        top: 5px;
        transform: scale(0.8);
    }
    .LogoLink{
    margin: -8px auto 0 auto;
        
    }
}

/*SHOP PAGE*/

.mainTitle, .mainTitle *{
    font-family: 'jo_bisregular' !important;
    font-size: 25px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}
.alignCenter{
    text-align: center;
}
.mainCat>div{
    margin-top: 15px;
    margin-bottom: 15px;
}
.mainCat a{
    display: block;
    width: 100%;
    height: inherit;
    line-height: 330px;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:cover;
    font-family: 'jo_bisregular' !important;
    font-size: 25px;
}
.mainCat a span{
    display: inline-block;
    width: inherit;
    height: 100%;
    background: rgba(0,0,0,0.5);
    -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.mainCat a:hover{
    color: #EEEE22;
    
}
.mainCat a:hover span{
    background: rgba(0,0,0,0.2);
    -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.mainCat>div{
    height: 330px;
}
/* SLIDER */

.sliderShopPage .vc_item{
    height: auto !imoprtant;
    
}
.vc_inner img{
    width: 100% !important;
    height: auto !important;
}